[2019-09-18 21:43] LucioFranco opened #1 "Audit initial main crate API"
The main crate's api needs to be audited, the transport module is still under dev so probably not worth it right now to give that a thorough review but would be nice to get a light review of it.

[2019-10-01 21:20] #1 closed, assigned to nobody

[2019-10-02 02:26] rlabrecque opened #25 "Panic while building in tonic-build/src/service.rs:219"
### Version

git master
2734d3af28f1569d1db851660861112fa449fee8

### Platform

`Linux RILEY-LT 4.19.43-microsoft-standard #1 SMP Mon May 20 19:35:22 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`

### Crates

`tonic-build`

### Description
[code]

admin.proto:
[code]

build.rs:
[code]

Cargo.toml:
[code]

Note: Compiling some other protos works fine, so it's something about mine, but I haven't quite be

[2019-10-02 02:52] LucioFranco commented on #25
@rlabrecque I see this issue comes from the codegen trying to find the `"()"` type within the proto path which is `super` in this case. `super::()` isn't valid rust so it bails.

[2019-10-02 03:46] #25 closed

[2019-10-02 03:47] LucioFranco commented on #25
https://github.com/hyperium/tonic/pull/26 should fix this, it only supports empty for now but I want to find a better strategy for well known types.

[2019-10-03 05:02] rlabrecque opened #29 "Server side service level Routing"
Tracking issue for request Routing

Tonic should allow a single socket/server to serve multiple services. Routing is the way to get there.

Current progress: https://github.com/hyperium/tonic/blob/master/tonic-interop/src/bin/server.rs#L73

See also: https://github.com/tower-rs/tower-grpc/issues/2

[2019-10-03 09:03] Mathspy opened #30 "include_proto only imports main proto file"
If we have a simple `/proto` folder structure as follows:
[code]
Where `helloworld.proto` is:
[code]
and `hello.proto` is:
[code]
And we use default tonic-build just like the example
[code]

It will successfully build both of the files into separate Rust files as expected but then using `tonic::proto_include` like so:
[code]
it will attempt to only import the main package and will require the user

[2019-10-03 10:42] johanbrandhorst opened #31 "Abstract transport from client logic (for gRPC-Web, in-process, etc)"
## Feature Request

### Motivation

`tonic` generates client APIs for HTTP/2 gRPC clients. However;

* The [grpc-web protocol](https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-WEB.md) defines how browser clients can interact with gRPC servers. Rust has excellent support for compiling to WebAssembly, to run in the browser.
* Sometimes a client and server are co-located, and can take advantage

[2019-10-03 10:57] another-s347 opened #32 "The buffer of decoder grows until it panic"
### Version

0.1.0-alpha.1

### Platform

Linux pc 4.19.69-1-MANJARO #1 SMP PREEMPT Thu Aug 29 08:51:46 UTC 2019 x86_64 GNU/Linux

### Description

It seems decoder didn't free its buffer in time so it gets panic very soon when transmitting messages continuously.
Backtrace:
[code]

[2019-10-03 13:25] frol opened #33 "Concurrent client requests"
## Feature Request

### Motivation

It is common to have a need to do concurrent client requests, but it seems that Grpc client dispatcher is implemented to handle one call at a time, so the following example does not work by design:

[code]

[code]

### Proposal

It seems that there is a need for multiplexing and a pool of clients.

[2019-10-03 14:06] LucioFranco commented on #29
@rlabrecque thanks for opening this!

We've had some ideas there are two that stand out to me currently:

1) Use a macro to generate the code that looks similar to the one in the interop server.

[code]

2)

[code]

This one is more of an idea, and I'm not sure how to accomplish it without a ton of boxing 😢

[2019-10-03 16:59] hawkw opened #34 "Consider an `IntoRequest` trait"
## Feature Request

### Crates

- `tonic`

### Motivation

Currently, Tonic's `Client` API requires users to write code like this:
[code]

The need to wrap the request struct in a `tonic::Request` is a minor ergonomics issue that could be surprising. This is admittedly a pretty minor papercut, but it seems like it would reduce some friction in the APIs that I suspect a new user is most likely to u

[2019-10-03 17:11] kjeremy opened #35 "Cannot build on windows"
## Bug Report

### Version

Master

### Platform

64-bit Windows 10

### Description

Cannot build on windows.

From a fresh checkout tried `cargo run --bin helloworld-client`

Got:

[2019-10-03 18:13] LucioFranco commented on #35
@kjeremy hi! Looks like its unable to find openssl. This is because the interop tests need this. I think besides installing openssl you may want to just comment out the `tonic-interop` entry in the `Cargo.toml` at the root of the repo.

[2019-10-03 18:46] kjeremy commented on #35
@LucioFranco thanks. In order to install openssl I had to install `vcpkg` and then follow the instructions from [this comment](https://github.com/sfackler/rust-openssl/issues/1062#issuecomment-489441940). That allowed me to `cargo build` and `cargo test` from `cmd.exe` (though building from `git bash` fails).

Note that when running (no firewall on the machine) I get:

and

[2019-10-03 19:47] LucioFranco commented on #35
@carllerche have you seen this type of error on TcpListener::accept on windows?

[2019-10-03 22:00] steffengy commented on #35
Cannot reproduce on 1903, @kjeremy can you rule out the port (50051) being used by another program?

[2019-10-03 22:18] zackangelo commented on #33
@frol I believe that the `.clone()` operation on a tonic client should be relatively lightweight (just a handle to the underlying channel). You should be able to dispatch a request in parallel by cloning the client before executing its method.

[2019-10-03 22:30] LucioFranco commented on #33
@zackangelo is correct!

So pretty much this comes down to how tower handles back pressure. Internally we need a &mut self within the future to keep checking if our inner service is ready to accept the next request. To do this we need to borrow the service exclusively because only one access to that service can submit the request when its ready. To fix this internally we use a buffer channel to al

[2019-10-04 05:07] rlabrecque opened #37 "include_proto! doesn't work with out_dir"
## Bug Report

### Version

master: afa9d9d236b7ca96d70d696ab38aadac7cdf41ff

### Platform

Linux RILEY-LT 4.19.43-microsoft-standard #1 SMP Mon May 20 19:35:22 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

### Crates

cargo-build

### Description

Because include_proto uses OUT_DIR it doesn't know where to find the files when using `tonic_build::configure().out_dir("src/proto")`

https://github.com/hy

[2019-10-04 05:18] rlabrecque opened #38 "Client/Server /can be/ duplicated into their include files"
## Bug Report

### Version

master: afa9d9d236b7ca96d70d696ab38aadac7cdf41ff

### Platform

Linux RILEY-LT 4.19.43-microsoft-standard #1 SMP Mon May 20 19:35:22 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

### Crates

cargo-build

### Description

When using includes it seems like the client/server are generated into the include file output. This only seems to happen under certain conditions, I believ

[2019-10-04 07:16] frol commented on #33
Thank you for the thorough explanation!

Just to confirm, I was able to use `.clone()` just fine:

[code]

Could you help me with a solution to fetch a list of resources concurrently (e.g. I have a vector of `tonic::Requests`)? I have tried to use `futures::future::join_all`:

[code]

[code]

And even if that would work, I would still need to store the `clients` somewhere in a list, right?

[2019-10-04 13:48] LucioFranco commented on #37
@rlabrecque should be possible to include it normally via

`include!("src/proto/{pacakge}.rs")`

We probably want to document this better.

[2019-10-04 14:07] LucioFranco commented on #30
@Mathspy hi! Thank you for the kind words! <3

So I actually think this comes down to the fact that each proto is in their own package. So `prost-build` will build one `rs` file per `package`. Generally in protobuf if you have folder structure like `proto/helloworld/...proto` all protos within this folder are under the `helloworld` package. So to fix your problems here change `hello.proto` to:

[c

[2019-10-04 14:10] johanbrandhorst commented on #31
Hi Lucio.

That sounds great! I have literally _no_ experience with Rust, but I was thinking about trying to write a gRPC-Web client in Rust with tonic while testing against a Go gRPC server wrapped in the Improbable grpc-web proxy. Don't count on this happening anytime soon though, but thanks for the pointers!

As you said, the server side would involve implementing the proxy part. It may be usef

[2019-10-04 14:16] LucioFranco commented on #31
@johanbrandhorst yeah that would be nice. The biggest issue is just having to map http 2 bodies to http 1 bodies. Even though they are the same type I believe the trailing headers might be an issue.

@seanmonstar you might have more thoughts around how we might be able to accomplish this?

[2019-10-04 14:23] johanbrandhorst commented on #31
The grpc-web spec defines how to handle trailers - they go in the body. https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-WEB.md.

[2019-10-04 14:24] LucioFranco commented on #31
Yeah, so dealing with the body stream we will need to consume the whole body before we can send it I believe. So that part will be a bit complex. @johanbrandhorst if you want to tackle this, feel free to come onto discord and I can explain more about the body stuff.

[2019-10-04 14:25] LucioFranco commented on #31
Also, I'd like to build a `grpc-web` proxy but written in rust :)

[2019-10-04 14:30] johanbrandhorst commented on #31
I will if I ever find the time, but I think I will start with the client side. Thanks for the great project by the way :).

[2019-10-04 15:19] LucioFranco commented on #38
@rlabrecque So I think this is an artifact of how prost builds its protobufs. I'm not actually sure why that file is even empty. So I think to fix this we must go into `prost-build`.

@danburkert hey! you might have an idea about this?

[2019-10-04 17:43] kjeremy commented on #35
That port is not being used.

I went into my network adapters and disabled the "Npcap Loopback Adapter" from Wireshark and it started working. I re-enabled the adapter and it STILL works so I'm not really sure what the problem was.

[2019-10-04 20:36] rlabrecque commented on #38
It's actually slightly different than I originally thought, everything inside mod client/server gets dumped into every file compiled. The request/response types properly go into their package's output file.

See: https://github.com/rlabrecque/tonic_include_repro/blob/master/src/proto/test.rs This contains both HealthClient and TestClient

[2019-10-04 20:40] LucioFranco commented on #38
So I think the issue I ran into with the codegen was that https://docs.rs/prost-build/0.5.0/prost_build/trait.ServiceGenerator.html#tymethod.generate you don't know if this is being called on the same file or a different file. So the goal was on one compile_protos step to aggregate ALL the services and throw them into a general client/server mod.

https://docs.rs/prost-build/0.5.0/prost_build/trai

[2019-10-04 20:57] LucioFranco commented on #35
@kjeremy interesting. Are you still not able to reproduce?

[2019-10-04 21:01] LucioFranco commented on #37
I think now that #40 has been merged we can close this!

[2019-10-04 21:01] #37 closed

[2019-10-04 21:02] LucioFranco commented on #32
@another-s347 hi! Do you know how you were able to produce this?

[2019-10-04 21:27] Mathspy commented on #30
Oh sweet! This actually does work really well, thank you! It seems to have an edge case when there are several ENUMs with similarly named variants like:
[code]
and
[code]
"protoc failed: file1.proto:9:5: \"helloworld.NAME\" is already defined in file \"hello.proto\".\nhelloworld.proto:9:5: Note that enum values use C++ scoping rules, meaning that enum values are siblings of their type, not childre

[2019-10-04 23:03] LucioFranco opened #44 "Add benchmarks"
It would be handy to add benchmarks mostly around encoding and decoding.

[2019-10-04 23:18] LucioFranco opened #45 "Use a `BufList` for decoding"

[2019-10-04 23:18] LucioFranco commented on #32
@another-s347 hi this should be fixed on master.

[2019-10-04 23:18] #32 closed

[2019-10-05 10:44] UkonnRa opened #46 "Well known type in `google/protobuf/wrappers.proto` not work"
## Bug Report

### Version

tonic-0.1.0-alpha.1

### Platform

Windows 10

### Description

Like this issue, https://github.com/hyperium/tonic/issues/25, but `StringValue` and others in `google/protobuf/wrappers.proto` this time

[2019-10-05 13:00] jen20 opened #47 "Expose granular control of TLS configuration for OpenSSL and Rustls"
## Feature Request

### Crates

- `tonic`

### Motivation

Currently a small subset of of the configuration options available for OpenSSL or Rustls are exposed by the builder API, via the `openssl_tls` and `rustls_tls` functions:

- Certificate and corresponding private key for servers (via [`openssl_tls`][server_openssl_tls] for servers and [`rustls_tls`][server_rustls_tls] for clients)
- A root

[2019-10-05 17:16] LucioFranco commented on #46
Hi! This #49 should fix your issue! I am going to try to get a new release out this week hopefully.

[2019-10-05 17:16] #46 closed

[2019-10-05 17:34] LucioFranco commented on #47
@jen20 Thank you for writing this detailed issue up! I think you are 100% correct on your ideas. This would be super handy to include.

Just thinking about this now, something that is kinda done in `reqwest` is that `Identity` and `Certifiate` both contain the logic to know how to apply themselves against the specific type of tls raw config. This could mean we could store an `Option<Identity>` and

[2019-10-05 23:07] rlabrecque commented on #25
Looks like this is fixed completely in https://github.com/hyperium/tonic/pull/49 👍

[2019-10-05 23:58] zakhenry opened #52 "How to serve multiple servers on same http2 server?"
Hello, thanks for this library it is so far working very well for me, a nearly complete beginner to rust.

I've got the example hello world server/client all up and running happily and now want to extend that server by adding the [gRPC health check service](https://github.com/grpc/grpc/blob/master/doc/health-checking.md) to the hello world service. I'm got this working correctly _instead of_ the h

[2019-10-06 15:16] LucioFranco commented on #52
@zakhenry Hi!

So, unfortunately, this part of tonic and tower is a bit rough at the moment. You can reference https://github.com/hyperium/tonic/issues/29 for the issue tracking this.

So it is possible to route it is just a bit manual right now https://github.com/hyperium/tonic/blob/master/tonic-interop/src/bin/server.rs#L73 this routes between a `TestService` and an `UnimplementedService`.

Hope

[2019-10-07 16:32] davechallis opened #56 "Doc/example request: using nested messages"
## Feature Request

Documentation or examples on how to use nested message types from Rust, e.g. for something like:

[code]

### Motivation

Just to make getting started with using Tonic a bit easier, since it's not as obvious how nested data structures might be handled in Rust.

[2019-10-07 17:14] omac777 commented on #35
Try this:
[code]

[2019-10-07 19:59] lovesegfault opened #57 "Please cut a new release"
I'm trying to use Tonic, but I keep hitting #43. I've confirmed that tagging master on Cargo.toml solves the issue.

Could a new release be cut?

[2019-10-07 20:03] ChetanBhasin commented on #34
Hey! I'm fairly new to this project, but the library seems fantastic so far!

This looks like a nice first issue. I was hoping to take a crack at it sometime this week or over the weekend if a PR is welcome. 😃

[2019-10-07 23:28] hawkw commented on #34
@ChetanBhasin I'm not sure if this is actually going to be easy, or even possible — I took a crack at it earlier, and ran into some issues with type inference. If you want to take a look at it, you may have more success than I did, but I just wanted to warn you.

[2019-10-08 01:48] LucioFranco commented on #57
@lovesegfault yup, I can get one out tonight!

[2019-10-08 01:50] LucioFranco commented on #56
@davechallis Hi! I'm not exactly sure how this is actually handled, I would assume `prost` builds two structs. I'm not sure if the docs proprely belong in tonic or with prost. I think what might be good would to build out a set of guides around the full stack version of tonic.

[2019-10-08 02:05] LucioFranco commented on #57
Done! https://crates.io/crates/tonic/0.1.0-alpha.2

Let me know if you run into any issues!

[2019-10-08 02:05] #57 closed

[2019-10-08 02:09] lovesegfault commented on #57
Thanks Lucio!

[2019-10-08 03:20] carllerche commented on #34
For this to work out, there would need to be two traits. `IntoRequest` and `IntoStreamingRequest`. Otherwise, you get into coherence problems.

Sketch:

[code]

[2019-10-08 04:33] kevingzhang opened #59 "Can we skip rustfmt because it is not available in beta channel for Raspberry Pi ARMv7"
## Feature Request

### Crates

### Motivation
I am trying to run tonic on Raspberry Pi. It failed first at
rustup component add rustfmt --toolchain beta
I know it runs very well on my Mac, but just not working on Raspberry Pi because it is using Armv7 and the rustfmt is not ready for Armv7 beta yet.

If I try to ignore it but I had a hard stop when building...

Caused by:
  process didn't exit su

[2019-10-08 04:52] kevingzhang commented on #59
BTW, Tower-gRPC compile and works fine. since it doesn't require rustfmt.
so the worst case I can use Tower-gRPC instead going all the way back to Hyper. :)

[2019-10-08 05:24] rlabrecque commented on #59
Hey @kevingzhang, rustfmt can be disabled with a feature flag on tonic-build. You can turn it off like so:
[code]

[2019-10-08 06:06] kevingzhang commented on #59
thanks, it works !!

[2019-10-08 06:06] #59 closed

[2019-10-08 17:18] hawkw commented on #34
Oh, the solution of adding a separate trait for streaming requests is obvious in hindsight, nice!

[2019-10-08 18:38] kjeremy commented on #35
This continues to work for me today so I think I will close the issue.

[2019-10-08 18:38] #35 closed

[2019-10-08 20:42] jen20 commented on #47
Fixed by #48.

[2019-10-08 20:42] #47 closed

[2019-10-08 21:33] JohnDoneth commented on #30
One way to make the conflicting enum variants work would be to prefix them.
[code]
Another way would be to nest your enums in messages. This causes them to be put into their own "namespace". With Tonic this causes the generated enums to be put into their own Rust modules. `enum_type_thing::EnumTypeThing`, and `enum_type_thing_in_different_file::EnumTypeThingInDifferentFile`.
[code]

[2019-10-08 21:42] JohnDoneth commented on #56
For `prost` the nested types are put into their own module and the outermost items themselves are generated normally.

Example:
[code]

Generated:
[code]

Nesting further puts the items deeper in the generated modules.
[code]
[code]

[2019-10-09 03:28] blittable opened #62 "tonic-build output"
nice to have..

Some users may wish to use tonic-build as an separate step, so:

1) If OUT_DIR is not correctly set, the error  "No such file or directory" might be the proto sources or the generated directory.  So, a better error message would be helpful.

Handled in this neighborhood:
[code]

2) The current output from a bin invocation:
[code]

[code]
It would be helpful if it detailed the gener

[2019-10-09 10:57] blittable commented on #44
@LucioFranco

A few notes while chipping away at this...  something might be of interest and inspire additional tests.  IMHO, most of the request/response building is unimpressive (in a good way).

Planning to look at concurrency/loads next and then, hopefully we can shape a pull request that provides solid regressions.

1) Request/Response construction comparison with 1 field and field size varyi

[2019-10-09 19:09] cpcloud opened #63 "Bump hyper version to alpha.4"
## Feature Request

### Crates

- `tonic`

### Motivation

I have a dependency on `alpha.4` internally, and would like to be able to use `tonic` with it.

### Proposal

This can be addressed by bumping the version. I'm not entirely sure what the drawbacks of a bump like this would be. Looking into the differences between 3 and 4 now.

### Alternatives

In the meantime, the alternative is to downgr

[2019-10-09 21:01] LucioFranco commented on #62
@blittable so its possible to set the `out_dir` config option in the `tonic_build::Builder`. We could probably provide a better error message though when out_dir does not exist.

[2019-10-09 21:12] #63 closed

[2019-10-09 21:52] LucioFranco commented on #44
@blittable This looks great!

[2019-10-10 01:21] blittable commented on #62
Thanks.  I got there another way (macro was invoked after cargo bench command).  I was also in a loop where I was told to set the out directory, and when I did such via the env variable, it then prepending the original out_dir to the macro invocation.  I'll try to pin it down.

There are a couple of doc issues for this scenario (the readme doesn't make it explicit it's a build.rs and the api doc i

[2019-10-10 12:44] davechallis commented on #56
@JohnDoneth many thanks for posting those, that's very helpful.

[2019-10-10 13:21] alce commented on #33
@frol this works:

[code]

[2019-10-10 15:37] LucioFranco commented on #56
@davechallis hopefully this answered your question, I think we can close this issue now?

[2019-10-10 15:38] LucioFranco commented on #62
@blittable if there are doc things missing we should def open an issue. I'd love if we opened an issue around issues with building tonic stuff and made a list of things that were found to be difficult.

[2019-10-10 23:06] blittable opened #67 "Doc: Review workflow for new users"
New users need a good on-boarding experience.  Opening an issue in support of that.

A couple scenarios for validation/enhancement:

1 - A user is familiar with using protobufs, clones, builds, runs hello world example, and starts crafting their own protobufs in tonic.

2 - A user is looking for a client/server architecture and is un-familar with with the stack.

3 - A user familiar with tokio/tow

[2019-10-10 23:06] blittable commented on #62
good idea.  opened #67 - closing here.

[2019-10-10 23:06] #62 closed

[2019-10-11 04:41] xmclark commented on #59
Alternatively, can tonic import rustfmt as a library and do the text processing at string-build-time instead of calling the external cli tool? Maybe that has tradeoffs, but at least then consumers of this library who do not want or cannot install rustfmt can get nice error messages.

[2019-10-11 14:06] LucioFranco commented on #59
@xmclark last I checked that was not possible, or I couldn't figure it out. If someone could figure that out that would be amazing!

[2019-10-11 14:17] davidgraeff commented on #59
I have done that in another crate of mine.

https://github.com/davidgraeff/braintree-payment-graphql-rs/blob/master/braintree-queries-generator/src/generate.rs#L10

[code]

[2019-10-11 14:20] LucioFranco commented on #59
@davidgraeff can this code run on stable?

[2019-10-11 14:50] LucioFranco opened #68 "Add readme rustdoc tests to CI"
# Motivation

Ensure the readme code compiles and is up to date.

# Solution

I think we can call rustdoc directly and test the readme in its own CI stage.

[2019-10-11 14:56] davidgraeff commented on #59
To be honest, I don't know. Because of the current async situation in the rust ecosystem I'm on rust nightly. I haven't found a toolchain file in their repo, so I assume it works on stable, but also haven't checked their dependencies.

[2019-10-11 15:19] LucioFranco commented on #59
Yeah, unfortunately, this depends on unstable nightly features :(

[code]

[2019-10-11 17:44] senden9 commented on #68
Alternative Idea: Use [cargo-readme](https://github.com/livioribeiro/cargo-readme) to auto-generate / check the readme.
This way the README file would be in sync with the tonic docs.rs page. Code examples would be tested automatically via `cargo test` because the live in a `.rs` file.

Bonus: You have the same nice "introduction information" no mater if new users land on the docs.rs page or this G

[2019-10-12 04:57] rlabrecque opened #69 "Middleware tracking"
I would like to obtain parity with the go-grpc-middleware repo. By obtaining parity we can be more confident that tonic can accomplish anything gprc-go can.

We should create a new project `tonic-middleware` to provide a repository of both "official" middlware, and links to other middleware.

https://github.com/grpc-ecosystem/go-grpc-middleware

## Interceptors

#### Auth
   * [`grpc_auth`](https:

[2019-10-12 05:02] rlabrecque opened #70 "Middleware registration"
## Feature Request

Currently tonic provides [interceptor_fn](https://github.com/hyperium/tonic/blob/8db3961491c35955c76bf2da6a17bf8a60e3b146/tonic/src/transport/server.rs#L136) but this is a little lower level than a lot of other solutions provide.

Ideally I could chain middleware functions without manually building my own stack inside an interceptor_fn.

See: #69, https://github.com/tower-rs/to

[2019-10-12 05:05] rlabrecque commented on #29
Just wanted to throw in my use case for this:

We have a pretty decent REST setup in go, and one thing that I'm missing with tower-grpc is routing. `grpc-router` above is working alright for my needs now, but I don't think it's going to scale to our REST setup.

The biggest part missing would be the ability to add routes later, and then get a list of the routes.

Here's what I'd want to write:

[c

[2019-10-12 14:46] domodwyer opened #71 "transport: expose connection metadata"
## Feature Request

### Crates

* tonic

### Motivation

Both the C++ gRPC client, and the Go client (and probably more) expose the peer address and other connection metadata such as the mTLS certificate used by the client - these features combined are great for certificate-based access control and request source filtering / audit logs / metrics / etc.

It looks like there was [a brief discussion]

[2019-10-13 15:56] LucioFranco commented on #70
Yeah so ideally we would use something like https://docs.rs/tower-layer/0.3.0-alpha.1/tower_layer/trait.Layer.html which achieves this. The issue right now is the extra api's around making these easier to define are not yet done. The interceptor_fn was the first attempt at trying to make an easy api for this. I would love to find a better one.

[2019-10-13 15:59] LucioFranco commented on #69
@rlabrecque would we want to create our own specific grpc middleware library? Ideally, I'd like these middleware to be very closely tied to the tower middleware. That said, Id love to explore these. Some may be more difficult than others.

[2019-10-13 16:00] LucioFranco commented on #68
@senden9 the issue with that is we can't have fully-fledged examples in the main readme because it requires codegen and hooking into the rustdocs build.rs. I am considering just dropping examples from the readme since this will be hard and just point people to the examples crate.

[2019-10-13 16:07] LucioFranco commented on #67
👍 love this. I'm not sure though how to approach this? Would it make sense to provide multiple guides?

[2019-10-13 16:24] LucioFranco commented on #71
Thanks for opening this detailed issue! So I am really cautious about introducing something like a `PeerAddr` to request since it's designed intentionally to not expose any details about the transport/encodings.

For the client, I believe the channel can expose who it's connected too but this also might not make sense if you're load balancing.

For the server, `hyper` itself provides a way to get

[2019-10-13 18:40] domodwyer commented on #71
Hi @LucioFranco

I actually took a peek at using an interceptor to populate the metadata exactly as you suggest, but currently it has the http layer Request only so went looking elsewhere - I think it would be a good way of opting into the functionality (it's safe to say it's not needed by everyone) and feels quite natural.

I must admit I have only been considering the server side of this until n

[2019-10-13 19:00] LucioFranco commented on #71
Right so this gets a bit funky ill try to explain a bit here:

So in tower, we use two types of `Service`'s for servers. We use an outter `MakeService` that creates some inner service for each _connection_, that inner service then gets dispatched aka called for each inbound request. The outter `MakeService` contains a target. You can see some of this here https://github.com/hyperium/tonic/blob/mas

[2019-10-14 00:58] kevingzhang opened #72 "Hope tonic to be running in docker container"
## Feature Request

### Crates

This is not only for tonic, the tower-gRPC, tower-web has the same issue when I tried all of them in docker container.

This could be related to how docker handle network conflict with how rust handle.

I do not know if I did something or not. the tonic server cannot get accessed from other docker containers within the same bridge network.

Here is what I did:
1. Ha

[2019-10-14 04:20] blittable commented on #67
Multiple guides would be confusing.

We can log individual issues in doc or group them in one.

So, 20+ - like:
"Tonic-build Readme should not  highlight version number in red  "https://github.com/hyperium/tonic/tree/master/tonic-build"

[2019-10-14 13:43] davechallis commented on #56
@LucioFranco yes, please go ahead and close, I've made a note to try and work these into an example when I get the chance.

[2019-10-14 14:25] alce commented on #72
Hi @kevingzhang

Just to make sure I  understand, can the node client talk to the tonic server?
Is the tonic server listening on 0.0.0.0 ?

[2019-10-14 15:44] kevingzhang commented on #72
The server is listening on [::0]:50051.
If I run a client in the same container  (I meant the server and client on the same container), the client can get response without any problem.
but if the client is running on another containers. The situations is
1. the client can ping the server.
2. the client cannot connect to the server at port 50051 . The result is connect refused.

I did some future e

[2019-10-14 16:43] LucioFranco commented on #56
@davechallis that would be great!

[2019-10-14 16:43] #56 closed

[2019-10-14 17:25] kevingzhang commented on #72
I discovered some new evidence.

I use a node container as a base image. This container is tested to work when running a node server inside. I have no trouble access this node server from other container.

I try  to run the rust gRPC hello world demo server in this node container, I found it won't run because of missing library:  Raspbian lite: GLIBC_2.28 not found.
Then I googled to find a soluti

[2019-10-14 17:27] kevingzhang commented on #72
BTW, Missing one piece. The container  after installed libc6 will become unaccessable from other container, not only the rust hello world server, but also to original working node server. So that is to say, the installing libc6 make the container not accessable.

[2019-10-15 06:26] polarathene commented on #72
Probably not the best way to investigate this for you, but when I built the examples locally it seemed to pull in some 1.39 beta version of Rust, and needed rustfmt as well. I've not used the Rust docker container(which presumably would not build atm if it needs 1.39 of rust?) so I just went with using the binaries I built locally(linux x86_64) and adding those into the container to run(which afai

[2019-10-15 17:53] kevingzhang commented on #72
Thank you @polarathene  for your such detailed instruction, even code money can follow :)

Well, I did exactly the same. To prevent any stupid mistake I made yesterday. i did it again, using the same docker compose yml.  Bad luck, I still got
[code]
docker image inspect rust
[
    {
        "Id": "sha256:f2a89aa8b31c1dde5822a63182bf0ba14301c52f4b9dea94db3aab004a5b6719",
        "RepoTags": [

[2019-10-15 19:12] domodwyer commented on #71
Great - makes perfect sense.

I'll take a look some time in the next week, thanks for the pointers!

[2019-10-15 19:17] thomasetter opened #75 "Support deadlines with the grpc-timeout header"
The [official protocol definition](https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md) mentions the `"grpc-timeout"` header which is a way for the client to tell the server what deadline it has.
As I understand it, the timeout should be converted into a deadline as soon as the header is read (before the rest of the payload).

Using this, when the server is overloaded, requests can just

[2019-10-15 20:15] kevingzhang commented on #72
Good news, I do the same thing in Mac's docker. it works.
I found onething I did wrong when I was working on raspberry pi, that was I forgot to change the [::1] to [::0] as you mentioned. I am going to do this test now. and post the result here later.

[2019-10-15 22:10] cpcloud opened #76 "Decoding occasionally fails when streaming"
## Bug Report

### Version

Running from 1987a40.

### Platform

[code]

### Crates

Affects `tonic`

### Description

When running [these lines](https://github.com/hyperium/tonic/commit/1987a40586cf45eff867d755e7b7e2ac2b9b8046#diff-929f8d2640458ec49964beaf3ecd1f10R8-R27) I occasionally get an error message from `prost` informing me that a buffer underflow has occurred:

[code]
Sometimes this happ

[2019-10-15 22:39] kevingzhang commented on #72
After I tried again to set the server ip to [::0] in raspberrypi's docker. The client and server actually works !!!
Well, thank you very much. but still not fully get the differences between [::0] and [::1].

[2019-10-15 23:27] polarathene commented on #72
0.0.0.0(IPv4) / ::0(IPv6) makes available to listen on all network interfaces on the system, so localhost(127.0.0.1), the LAN IP or WLAN IP(wifi):
https://serverfault.com/questions/876698/whats-the-difference-in-localhost-vs-0-0-0-0

https://pythonspeed.com/articles/docker-connection-refused/

Other than information there, I don't know enough about networking and docker to explain why listening on

[2019-10-16 00:03] kevingzhang commented on #72
I am not an expert on docker networking, but afaik the docker engine will assign each docker a different IP address, in my case, 172.17.0.2 for the hello world server, and 172.17.0.3 for the hello world client.
The bridge network allow them to connect to each other on 172.17.0.x. But due to some unknown reason, if the server listen to 127.0.0.1, it won't get request from 172.17.0.2. Since 0.0.0.0

[2019-10-16 00:10] kevingzhang commented on #72
Yeah, this https://pythonspeed.com/articles/docker-connection-refused/ (thinks polarathene) explains very well.

So I would suggest we update our example code to use [::0] instead of [::1], thoughts?

[2019-10-16 01:55] polarathene commented on #72
Probably should get confirmation that 0.0.0.0 works on Windows. A quick google shows quite a few results of users having issues with that working.

That said, considering this is more likely to be run on Linux or within docker linux containers, it'd probably still be a better default to switch to?

[2019-10-16 14:37] cpcloud commented on #76
After making the following changes I'm now unable to reproduce the issue:

[code]

However, I'm not exactly sure how to reliably test that this changes solves the problem.

[2019-10-16 15:05] LucioFranco commented on #29
@rlabrecque what is your use case around needing to add services at a later point?

[2019-10-16 18:16] cpcloud commented on #76
I can reproduce with `blobservice` if I run the client in a loop.

[2019-10-17 00:13] nytopop commented on #29
As I understand it, so that the `api_list_service` can:

* have access to all the services registered before it
* be served on the same server
* not expose itself, or the `healthcheck_service` in api list reqs

Although this could be done without involving the router like the following (although it's not super ergonomic):

[code]

So long as every service could expose its own routes. I've written

[2019-10-17 02:23] blittable commented on #44
@LucioFranco

Started a few e-2-e performance tests over here: https://github.com/blittable/tonic-perf

One challenge... running a number of iterations around request/responses introduces a challenge with the client.  The performance of the client - if the responses are awaited and handled (like with a println!) is ~32 seconds on 1000 iterations.

 A Node.js client clocks in at around 170 *milli*-

[2019-10-17 13:45] JohnDoneth commented on #44
I believe the reason why the `tokio::spawn` code is so fast is because that closure is being put onto the tokio runtime but never really waited on. It looks like the work of making those client requests is dropped when `run_requests` returns and main finishes when the runtime is dropped.

Also you probably want to create a future per request without awaiting each one and use something like `select

[2019-10-17 15:56] uschen commented on #38
Using tower-grpc with the same build file (gathers all proto files with services in to the array) doesn't have the same issue

[2019-10-17 21:01] LucioFranco commented on #75
Hi Yes, this should be possible by implementing a custom service layer that reads the initial headers and wraps its inner future with a timeout.

[2019-10-17 21:06] LucioFranco commented on #76
@seanmonstar would hyper be cutting the body off by chance?

[2019-10-17 21:07] LucioFranco commented on #29
@nytopop That makes sense that was what I was kinda thinking. We can totally add that trait and implement it for codegen. Each async trait impl can include that.

[2019-10-17 21:13] seanmonstar commented on #76
I wouldn't expect it to. Could try wireshark or something to sniff what `DATA` frames are sent/received.

[2019-10-17 22:50] cpcloud commented on #76
Cool I'll look at it with Wireshark.

[2019-10-18 01:57] #72 closed

[2019-10-18 07:04] blittable commented on #33
Super-helpful... thank you.

If it was in a loop?  I'm generating the req/resp from the protobufs, and tonic::response::Response - I cannot clone it.

This definitely inspired me to test the streaming approach, which works swimmingly.  But, a batch of requests and handling their responses, does this *require* an Arc<Mutex> and pinning around the data-structure?

[2019-10-18 15:45] RetWolf commented on #67
As a new user with (a little bit) of experience with Rust and gRPC, I had some trouble getting an example running without cloning this repo. I tried following along with the HelloWorld example on the README, but there weren't any commands specifying how to run. The Cargo.toml example didn't include the [[bin]] for client or server.

Personally I believe the on-boarding experience could be improved

[2019-10-18 15:47] LucioFranco commented on #67
@RetWolf hey! So we have an in progress guide #21, would you be able to check it out to see if that would have improved your experience? This is 100% something I want to work on :)

[2019-10-18 16:42] alce commented on #44
@blittable you can try something like:

[code]

[2019-10-18 16:47] alce commented on #33
@blittable see https://github.com/hyperium/tonic/issues/44#issuecomment-543829569 for a possible solution

[2019-10-18 20:00] RetWolf commented on #67
@LucioFranco I believe that tutorial would have improved my experience, and would be a good in-depth dive into some of the advanced features of the library and ecosystem. Would you be interested in a PR which includes a simple tutorial to take new users from scratch to a running HelloWorld server+client? I think it would be beneficial to have a tutorial that just shows the basics first, and then m

[2019-10-18 20:01] LucioFranco commented on #67
@RetWolf I would absolutely love that! I think that is a great idea! And thank you for the feedback!

[2019-10-19 17:58] cpcloud commented on #76
Looking at the logs coming out of `h2` it looks like when 10008 bytes get sent from the server (10000 bytes from the [`bytes` field](https://github.com/cpcloud/tonic/blob/blobservice/tonic-examples/proto/blobservice/blobservice.proto#L28) in the [message](https://github.com/cpcloud/tonic/blob/blobservice/tonic-examples/proto/blobservice/blobservice.proto#L27-L29) + [5 bytes for the tonic header](h

[2019-10-19 23:45] cpcloud commented on #76
@seanmonstar After looking at frames using wireshark, I don't see anything anomalous. 10005 bytes are sent as `DATA` on stream 1, there are `WINDOW_UPDATES` on streams 0 and 1, then 3 bytes are sent as `DATA` on stream 1.

I noticed that between the 10005 bytes being sent the tonic decoding thread gets woken up and tries to decode the message before having all the bytes needed to decode it.

[2019-10-20 22:54] cpcloud commented on #76
I'm not convinced this is related to threading or h2. I think that the issue most likely lies in tonic.

When receiving data by polling the body, it's possible to end up in a situation where the polling results in a buffer of size `N` where `N >= length`, but _also_ that `N < 5 + length`.

Roughly the flow is like this:

1. Tonic polls for data, gets `N` bytes, where `length <= N < 5 + length`
1.

[2019-10-21 00:10] blittable commented on #44
@alce Thanks for that and the route guide!  The client's about 100% faster than the equivalent node.js version.

[2019-10-21 09:28] NeoLegends opened #81 "Consider making `Streaming<T>` Sync"
## Feature Request

### Crates

Main Crate

### Motivation

I'm trying to output a unidirectional tonic gRPC stream via SSE using warp. I'm using warp from https://github.com/seanmonstar/warp/pull/265 to be able to use it with async await. Changing warp to be compatible with async / await requires that all responses handed over to warp (and in turn handed over to hyper) to be `Sync`. However, the

[2019-10-21 09:32] NeoLegends commented on #81
In case you accept this I have already filed PR #82 that applies the neccesary change. :)

[2019-10-21 18:10] pkinsky commented on #31
I'd be interested in helping with this if you're looking for more hands/people to bounce ideas off of.

[2019-10-21 23:05] RetWolf commented on #68
@LucioFranco Is there currently any testing around the examples to ensure they are working? If not, is this something we should think about writing and adding into the CI?

[2019-10-22 00:01] #76 closed

[2019-10-22 17:29] LucioFranco commented on #31
@pkinsky @johanbrandhorst thank you both! I'm not sure exactly what the best path forward might be but I think the first goal would be to build a HTTP/1.1 transport and see how that interacts with our current body usage etc.

[2019-10-22 17:33] LucioFranco commented on #68
So I am going to remove all examples from the readme. We will instead point to the examples crate which is checked via CI already. All doc examples are also checked via CI and `cargo test`.

[2019-10-22 18:54] johanbrandhorst commented on #31
I've contacted Paul asynchronously to discuss next steps :).

[2019-10-22 22:40] RetWolf commented on #68
Sounds good!

[2019-10-22 23:23] hugecheese opened #86 "Reasoning for prost rather than rust-protobuf?"
Although I don't know much about the two libraries, on it's surface `rust-protobuf` appears to be more maintained than `prost`. What was the reasoning behind that choice?

[2019-10-23 14:13] LucioFranco commented on #68
This can be closed now that we've removed examples from the readme, thanks for all the help!

[2019-10-23 14:13] #68 closed

[2019-10-23 15:35] LucioFranco commented on #86
@hugecheese Hi! In general, I find I prefer `prost` and iirc it is much faster. Don't quote me on that though. We've been using `prost` both in `linkerd` and `vector` so in general, I am very happy with that library. I have not really used `rust-protobuf` that much though. The other thing is that `prost` uses the `bytes` crate which is very important for us.

[2019-10-23 16:04] ccc13 opened #89 "service name conflicts with rpc method name"
## Bug Report

### Version

[code]

### Platform

`Linux cccjlx 5.3.7-arch1-1-ARCH #1 SMP PREEMPT Fri Oct 18 00:17:03 UTC 2019 x86_64 GNU/Linux`

### Crates

`tonic-build`

### Description

Proto buffers definition:
[code]

The following error occurs when execute `cargo build`:
[code]

And I notice there is a new struct named `Foo` in the generated rpc method, which conflicts with the previous def

[2019-10-23 18:10] LucioFranco opened #90 "Make `Channel::connect` async"
Currently, when you attempt to create a channel it does not connect when you would expect it too. https://docs.rs/tonic/0.1.0-alpha.3/tonic/transport/struct.Endpoint.html#method.channel this currently is sync.

This causes issues when you want to make sure you're connected before you make the first RPC call. Due to how `tower-reconnect` is implemented it becomes lazy and thus attempts to connect o

[2019-10-23 18:54] LucioFranco commented on #89
@ccc13 Hi! I think #92 fixes this issue, thanks for reporting it!

[2019-10-23 19:01] #89 closed

[2019-10-23 19:10] LucioFranco opened #93 "Reduce dependencies"
We should attempt to use feature flags to reduce dependencies that we don't use.

[2019-10-23 21:15] daniel5151 opened #94 "tokio-build fails with "transport" feature disabled"
## Bug Report

### Version

0.1.0-alpha.4

### Platform

Linux 5.0.0-29-generic Ubuntu SMP Thu Sep 12 13:05:32 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

### Crates

tonic-build

### Description

tonic-build fails to compile with the "transport" feature disabled, throwing the following error:

[code]

I took a quick glance at the affected code, and it looks like it should be a quick fix :)

[2019-10-23 21:46] #94 closed

[2019-10-24 17:56] uschen commented on #38
wonder the priority of this issue can be bumped

[2019-10-24 17:58] LucioFranco commented on #38
@uschen not much we can do right now, currently, looking at different strategies to support other types of message types via codegen. This should allow us to explore ways to decouple our build process from that of `prost-build`.

Is there a reason you can't merge all the services into one file?

[2019-10-24 21:14] rlabrecque commented on #38
I'm curious why it worked fine on tower-grpc as well though. It seems like it's possible and this is just a regression in the rewrite.

[2019-10-25 04:03] mineralres commented on #38
@LucioFranco  We have defined many services before, it's much more clear to split them into seperate files

[2019-10-27 02:27] blittable commented on #30
There will be some who don't want to adjust protobuf files - as they are often interfaces for other languages.  That fact, and some of the challenges around what Prost generates (especially Option<T> predictability) - is there a way to decouple the the 'models' from the client/server impls?

[2019-10-27 15:12] LucioFranco opened #98 "Decouple codegen from `prost`"
`prost` is a great library and has already set a very good foundation for `tonic`. That said, we shoud look into enabling other types of codegen "drivers". This would allow us to have codegen that can create flatbuffers and json based grpc services.

- Do we want to have codegen drivers live in their own crate or feature gated behind `tonic-build`?

cc @cpcloud

[2019-10-27 18:24] carllerche commented on #98
Feature gated imo

[2019-10-27 22:03] johanbrandhorst commented on #31
I've created a sandbox repo to play around with prototyping this: https://github.com/johanbrandhorst/rust-grpc-web-wasm-test. It's currently just a Go gRPC server with the gRPC-Web proxy, the idea is that we can manually try to implement a first pass on a Rust WASM client. See the README for more information.

[2019-10-28 15:57] LucioFranco commented on #30
@blittable could you explain more what you mean by decoupling the models?

[2019-10-28 18:26] RetWolf commented on #98
I'm partial to have codegen not 100% tied into tonic-build. If it is, I believe it should be developed in a way that allows it to easily be decoupled and extracted to its own crate if the community wants. Feature-gated at first will probably be easier, and provides a simpler experience for users.

[2019-10-28 20:31] LucioFranco commented on #31
@johanbrandhorst sounds great! Looking forward to see what turns out of it! :)

[2019-10-28 20:38] uschen commented on #38
still have to use 'tower-grpc-build' as the argument. If pass all protos across multiple folders/services, in one call, it works.

[code]

[2019-10-28 20:40] Hirevo opened #100 "Issue connecting with Google gRPC APIs"
## Bug Report

### Version

[code]

### Platform

OS: macOS Catalina (10.15)
`rustc` version: 1.39.0-nightly (2019-09-10)

[code]

### Description

Hello,

I was trying to write an abstraction library for using Google Cloud Platform APIs.
More specifically, I was writing the one for the Pub/Sub service of GCP.

So, I cloned the protobuf definitions of their services (https://github.com/googleapis/

[2019-10-28 20:41] LucioFranco commented on #38
Sure, though I don't think the way tower-grpc-build worked was the correct approach. I think the isolated approach that tonic provides is better. Though, maybe I'm missing what you are looking to achieve? Does the provided solution not work?

[2019-10-28 20:53] LucioFranco commented on #100
@Hirevo just for more debugging purposes by chance could you see what the headers are that gcp returns to you?

So I know we don't quite yet support compression but I am curious if we can disable it.

[2019-10-28 20:56] LucioFranco commented on #100
And also since you have an interceptor does changing it to this work?

[code]

The docs are not clear specifically if this will work but pretty much for now we need to tell their grpc server that we don't accept any compression.

[2019-10-28 21:20] Hirevo commented on #100
@LucioFranco Yes, here are the response headers that the Go code received for the gRPC call:
[code]

I have also just tried the additional header you proposed, but the error has not changed, sadly.

Also, I published both the Rust and Go versions of these tests, with the same setup and crate versions that I have:
Rust: https://github.com/Hirevo/rust-gcp-test
Go: https://github.com/Hirevo/go-gcp-te

[2019-10-28 21:43] rlabrecque commented on #98
Agreed^ It would be nice to try out rust-protobuf instead of prost for example. Or use JSON with serde_json by generating the services/models via OpenAPI, etc.

[2019-10-28 22:41] LucioFranco commented on #100
Ok I dug into this and got it working if I change the content type to `application/grpc` from `application/grpc+proto` which doesn't make much sense. I will dig in a bit more into this...

[2019-10-28 22:59] uschen commented on #38
@LucioFranco let me give your solution a try. My bad, haven't get a chance yet. Should have mentioned that

[2019-10-29 05:19] xmclark opened #101 "Usability with TLS trust anchors"
## Bug Report

This bug reports some usability issues with TLS in `tonic`.

### Version
tonic = "0.1.0-alpha.3"
tonic-build = "0.1.0-alpha.3"

### Platform

Windows 64-bit

### Description

When building a grpc client with `tonic` and `rustls` flag, without specifying a certificate in the builder, I expected `tonic` to find my server's certificate in the root store, but instead I get some pretty c

[2019-10-29 11:14] curiousleo opened #102 "tonic-examples build crashes: "No such file or directory""
## Bug Report

Building the examples in `tonic-examples` in this repository crashes.

### Version

I just checked out this repository, so it's just `master` of `tonic`.

[code]

### Platform

[code]

### Description

Following [tonic-examples/README.md](https://github.com/hyperium/tonic/blob/af5754bd437ffbb5c7a9fbe36af14cd182d48c53/tonic-examples/README.md#client), I tried to run `helloworld-clien

[2019-10-29 14:30] dominiquelefevre opened #103 "gRPC server has high latencies, but uses almost no CPU"
Hi,

I've written a trivial gRPC server that receives a request with an array of ints, adds them up, and returns the sum.

A test client does the following:
1. create a randomly-sized array,
2. issue a request to the server,
3. wait for a reply,
4. repeat.

The client and the server communicate over the loopback device, so there should be very little latency in the network link.

I see a curious r

[2019-10-29 14:51] LucioFranco commented on #103
So a lot of the actual request handling is done by hyper. Tonic is merely just a wrapper around types. That said, there have been many upstream changes to both hyper and tokio that have yet to be fully published. So I am personally waiting for both to get to a state where we should really start looking at optimizing performance until then it doesn't make much sense. Remember tonic is still in an a

[2019-10-29 14:54] LucioFranco commented on #102
@curiousleo yeah this could be a bug of running the examples from within the example crate itself. Try running this command from the root of the repo with `cargo run -p tonic-examples --bin helloworld-client`.

[2019-10-29 14:57] LucioFranco commented on #101
This is a really good question! So most gRPC examples I've seen have their own ca roots so I have not really seen users require this but I think its something we might be able to support. I'm not opposed to adding an additional feature flag around adding default roots. So I believe the `webpki_roots::TLS_SERVER_ROOTS` is actually just the mozilla one, where as I believe with openssl you can probe

[2019-10-29 15:15] dominiquelefevre commented on #103
Hmm. Here is some throughput and latency data for various http frameworks: https://www.techempower.com/benchmarks/#section=data-r18&hw=ph&test=plaintext

It claims that tokio-minihttp has 3.1msec latency for HTTP GETs that return a fixed string "hello world". I see approx. 20msec latency for gRPC requests.

The test of Techempower uses a version of tokio that is not yet async/await-enabled. The 20

[2019-10-29 15:17] LucioFranco commented on #103
@dominiquelefevre right, tokio 0.1 is a bit different from tokio 0.2. In fact the scheduler has even been completely rewritten! https://tokio.rs/blog/2019-10-scheduler/

You could use this https://github.com/ferrous-systems/flamegraph

[2019-10-29 15:26] jen20 commented on #101
I think we should definitely expose a way to make this simpler - I'll take a look into some of the options and have a think about what could be done.

[2019-10-29 16:56] curiousleo commented on #102
Thanks for the help @LucioFranco! Unfortunately, I get the exact same error with the build command you suggest, run from the root directory of the repo:

[code]

[2019-10-29 17:05] LucioFranco commented on #102
Ok odd I am able to compile this locally off of a clean clone with your command. So I am not sure what is going on. One thing to try would be maybe to attempt to write your own helloworld to see if you can get tonic to work outside of the repo?

[2019-10-29 20:12] #100 closed

[2019-10-29 20:32] #29 closed

[2019-10-30 08:32] curiousleo commented on #102
Cheers, I'll give this a try and will report back here.

[2019-10-30 11:15] blittable commented on #93
Quick question here - feature flags to narrow the import scope of the upstream dependencies or features flags in the tonic code (e.g. put cfg attributes on handful of trace crate usages?)

I looked at the upstream dependencies, but didn't see any good opportunities to factor out features.

[2019-10-30 14:53] LucioFranco commented on #93
@blittable as of right now there are not many but that is because we pull in the whole world with the `transport` feature. I think we can revisit this issue once tokio/hyper get a stable release.

[2019-10-30 19:00] #81 closed

[2019-10-30 19:01] LucioFranco commented on #81
@NeoLegends sorry for the delay, this should be done! Let me know if you run into any issues. I plan to get a new release out soon.

[2019-10-31 14:18] RetWolf commented on #102
I've also been unable to replicate this issue locally as well. 😞

[2019-10-31 17:20] sezna opened #106 "Allow docstrings for generated modules"
## Feature Request

### Crates
`tonic_build`

### Motivation
In all of my company's projects, we use `#![deny(missing_docs)]`. With protobuf codegen, we are able to document all the fields because prost turns `// regular comments` into `/// rust docstrings`. But I still get denied for the overall module which I cannot figure out how to document:

[code]

### Proposal
I'm not sure if this is alread

[2019-10-31 17:31] LucioFranco commented on #106
@sezna Hi! So quick and easy fix is to annotate the overall module with `#[allow(missing_docs]`.

Do you by chance know which module is causing the error? is it the client/server mod?

[2019-10-31 18:01] sezna commented on #106
I haven't actually used the client or the server yet. Right now I'm just generating structs from .proto files. When I run codegen like this:
[code]
it generates code like this:
[code]

I could wrap the import macro with another module and allow missing docs on it for now, but that doesn't seem optimal, because I would like to have doc enforcement on all of my protobuf fields as I currently do.

[2019-10-31 18:04] LucioFranco commented on #106
This sounds like something prost is doing, we add doc comments to all the mods we generate and we just append that to the file that prost generates.

As for wrapping it in a mod I generally tend to do that anyways.

[2019-10-31 21:32] daniel5151 opened #110 "Improve ergonomics when passing Clients as function arguments"
## Feature Request

### Motivation

At the moment, any function that takes a Client as a parameter requires specifying some pretty scary-looking type bounds:

[code]

It would be nice to somehow simplify these sorts of declarations.

### Proposal

I'm not entirely sure how to work around this issue!

A heavyweight solution might be to write a proc macro that automagically includes these type bound

[2019-10-31 22:54] alce commented on #110
An easy workaround is to use a concrete type instead of the type parameter. Currently, I believe the only concrete type that can be used to construct a client is a `Channel`,  so you could do:

[code]

[2019-10-31 23:15] daniel5151 commented on #110
Huh, that totally solves my particular issue. Not sure why I didn't think of that earlier!
Thanks! :smile:

That said, there are times when it might be useful to write transport-independent functions. For example, a API might require calling `client.update_foo()`, and falling back to `client.create_foo()` if the first call returns an error. It would be nice to write a helper function `update_or_cr

[2019-10-31 23:32] alce commented on #110
I agree, you raise a good point. I believe there are plans (and maybe even  some initial work) to provide different transports, in which case we may need to find a different solution.

[2019-11-02 00:58] parasyte commented on #81
@LucioFranco This new trait bound broke my code because [`hyper::client:ResponseFuture`](https://github.com/hyperium/hyper/blob/039281b89cf1ab54a0ecc10c5e7fee56d4da0cf4/src/client/mod.rs#L103-L109) is not `Sync`.

[code]

Still looking into a way to resolve this... Does `hyper` need to be patched to add the trait bound to `ResponseFuture`? Or can I wrap this future in something to make it `Sync`,

[2019-11-02 04:22] xmclark commented on #101
I spent some time this week to learn a bit about TLS and certificate trust chains. I found the docs at Let's Encrypt to be super useful!
https://letsencrypt.org/certificates/

It's now a little more clear now that `rustls::RootCertStore::add_server_trust_anchors` is simply adding the Mozilla root certificates to the TLS config. This can also be achieved by downloading the certificates from [Mozill

[2019-11-02 04:25] jen20 commented on #101
Hi @xmclark! Personally I think I'd tend towards option 1 here. I can likely put together a pull request for this fairly quickly, as I have some other work in flight for TLS bits.

[2019-11-02 04:44] LucioFranco commented on #101
Option one sounds like a great idea!

[2019-11-02 16:12] LucioFranco commented on #81
@parasyte maybe I'm missing something but what is the reason you are returning a future as the response type?

[2019-11-02 17:57] LucioFranco commented on #110
@daniel5151 yeah, so I tried to get https://docs.rs/tonic/0.1.0-alpha.5/tonic/client/trait.GrpcService.html to do as much of that work as possible but it seemed that rust was not happen. Sounds like this would be a good thing to revisit.

[2019-11-02 18:58] parasyte commented on #81
@LucioFranco Sorry for the confusion, I'm not returning `Future` as a response type at all. It will help to have a full example to the issue. I'll get to that for you soon.

The short description is that I'm calling the `get` method on a `hyper::client::Client` in an `async_stream::try_stream! {}` loop; the return type is a gRPC streaming response. E.g. `Pin<Box<dyn Stream<Item = Result<Message, S

[2019-11-02 19:02] LucioFranco commented on #81
@parasyte you're right...I'm not sure how to move forward on this one @seanmonstar any ideas?

[2019-11-03 21:32] xmclark commented on #101
Super happy to see #114 opened. I pointed my current grpc project using tonic to the `jen20/tls-trust-roots` branch and it works beautifully using `ClientTlsConifg::add_trust_anchors`!

I don't mind paying the extra cost of importing the mozilla certs for rustls usage. I think most other grpc libraries do this by default anyways.

[2019-11-04 10:11] curiousleo commented on #102
I've set up a "helloworld" project outside of the `tonic` source tree following this tutorial: https://github.com/hyperium/tonic/blob/master/tonic-examples/helloworld-tutorial.md - and still get the same error.

[2019-11-04 10:16] blittable commented on #102
@curiousleo Could you push that code into a public repo somewhere?

[2019-11-04 10:47] blittable commented on #102
Cannot dup on
`Linux tribble 5.0.0-32-generic #34~18.04.2-Ubuntu SMP Thu Oct 10 10:36:02 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`
`23f648b5175b24c24f61bfd8cfb7235fcbae552a`

[2019-11-04 14:48] LucioFranco commented on #102
I wonder if this leaves a backtrace if you run `RUST_BACKTRACE=full`?

[2019-11-04 14:55] LucioFranco opened #115 "Move builders to be move by value"
The `http` crate with its `0.2` release will move its builders to be from `&mut self` to `self`. I want to consider following suit with `tonic`. Mostly, I wanted to open this to start a discussion.

cc @jen20

[2019-11-04 16:50] curiousleo commented on #102
When I try to build the out-of-tree "helloworld" project, `RUST_BACKTRACE=full` does not give me a backtrace of the failure, that is, there is no difference in output between `RUST_BACKTRACE=full cargo build` and `cargo build`.

Since the path of the program that `build.rs` is compiled into is shown, I think it might help to `strace` its invocation, mimicking what `cargo build` does.

[code]

Unfo

[2019-11-04 16:55] curiousleo commented on #102
I've pushed the project here: https://github.com/curiousleo/helloworld-tonic.

Just to check - `cargo build` sets `OUT_DIR` before invoking the build script, right? So the question here would be to add a bunch of logging to `build.rs` to see if the environment variables are in fact set?

I'm quite new to Rust, I may have a misconception of what is supposed to be happening here.

[2019-11-04 17:06] blittable commented on #102
NP - thanks for logging the issue.

I hit my head on this a while back and may need to create an issue around it - so the issue is timely.

There is a custom build method method that is called that uses the OUT_DIR variable.  I don't believe it is documented outside of the code.   So, does your system have OUT_DIR defined?

Like from a shell prompt if you type `env` - do you see that value defined

[2019-11-04 17:06] jen20 opened #116 "Allow simple and raw TLS configuration to be used together"
## Feature Request

### Crates

- `tonic`

### Motivation

Currently the various TLS builders allow either raw configuration or configuration using the simple interfaces exposed by `tonic`. It would be nice if they could be used together such that changes made via the simple configuration are reflected in the raw configuration.

### Proposal

Unclear at this stage.

[2019-11-04 17:26] jen20 commented on #115
Personally I'd prefer them to use `self` over `&mut self` - that should remove the need to working out where `clone` is needed.

[2019-11-04 17:27] jen20 commented on #116
#115 may impact how we go about this.

[2019-11-04 18:42] curiousleo commented on #102
Hi! No, `OUT_DIR` is not defined in my normal shell environment. My understanding from https://doc.rust-lang.org/cargo/reference/environment-variables.html was that `cargo build` would launch the build script in an environment with `OUT_DIR` set to an appropriate value for that build, but I may have misunderstood that.

[2019-11-04 19:12] blittable commented on #102
Thanks for the clarifying.

The repository you shared... I saw a couple of issues:

1. Updated the version of tonic and tonic build.  So, I changed the dependencies to:

[code]

2. The line:
` let mut client = GreeterClient::connect("http://[::1]:50051")?;`
should be:
` let mut client = GreeterClient::connect("http://[::1]:50051").await?;`

After that the client runs.

[2019-11-04 19:19] curiousleo commented on #102
@blittable thanks for the pointers! I've updated the repo accordingly: https://github.com/curiousleo/helloworld-tonic/commit/761be924b9f095e09fadf15e16800a6890df882c

I still get the same build error.

[2019-11-04 19:35] blittable commented on #102
wow - now I'm really curious!   You're running under virtualization with NixOS?

[2019-11-04 19:41] curiousleo commented on #102
I've added a bunch of debugging to my build script:

[code]

which gives:

[code]

The important part here is

So `OUT_DIR` is set (in the environment in which the build script is run by `cargo build`), the directory exists and can be written to.

[2019-11-04 19:46] curiousleo commented on #102
Yes, this is on NixOS. There is no real virtualisation going on - but NixOS (and `nix-shell`, which I'm using to get the dependencies for the project via [`shell.nix`](https://github.com/curiousleo/helloworld-tonic/blob/master/shell.nix)) do a bunch of things to set up environments by manipulating `PATH` and putting things in their special directories.

I don't see at this point how my issue is re

[2019-11-04 20:48] blittable commented on #102
Ok... there is a dependency on `rustfmt`  - can you very if it is installed?

[2019-11-04 23:11] parasyte opened #117 "Remove `Sync` requirement for `Streaming`"
This is a followup to the conversation in https://github.com/hyperium/tonic/issues/81#issuecomment-548994752 - I decided to create a new ticket to raise awareness.

## Bug Report

### Version

`tonic = "0.1.0-alpha.5"`

### Platform

`Darwin JayMBP-2.local 18.7.0 Darwin Kernel Version 18.7.0: Sat Oct 12 00:02:19 PDT 2019; root:xnu-4903.278.12~1/RELEASE_X86_64 x86_64`

### Description

In older rel

[2019-11-05 02:35] seanmonstar commented on #81
Hrm, is the problem that `hyper::client::ResponseFuture` has a `Box<dyn Future + Send>` inside it, and not `Box<dyn Future + Send + Sync>`?

Oh wait, is this because it technically needs a `Sync` because of `await` being a jerk?

[2019-11-05 08:22] blittable opened #118 "document tonic-build configure method"
On: tonic-build v0.1.0-alpha.5 (/code/tonic/tonic-build)

We need api doc.

This method is also helpful for diagnosing protobuf build issues - (pb namespace, permissions, rustfmt, toolchain, config, etc.)

https://docs.rs/tonic-build/0.1.0-alpha.5/tonic_build/fn.configure.html

https://github.com/hyperium/tonic/blob/23f648b5175b24c24f61bfd8cfb7235fcbae552a/tonic-build/src/lib.rs#L166

[2019-11-05 08:22] blittable commented on #118
#102

[2019-11-05 08:40] blittable commented on #30
@LucioFranco
I was mocking up a food ordering system, so I had types like `Order`, `Delivery`, etc. and ended up adjusting some namespaces to fit the client/server generation code.  That would be sub-optimal if I had other clients (iOS, Android) dependent on those.  But, that might be my inexperience with the pf namespaces and imports, so I'll try to demonstrate and write it up if it's still probl

[2019-11-05 08:52] blittable commented on #98
Agreed.  Most want a rust-grpc stack that does everything that tonic does.  The protobuf compiler piece is convenient until it's not and then it can be a blocker.

https://github.com/hyperium/tonic/issues/30#issuecomment-549720037

[2019-11-05 13:30] xmclark commented on #101
I just saw announcement for rustls-native-certs. This may be something else to consider. It has cross platform support.

https://github.com/ctz/rustls-native-certs

[2019-11-05 14:02] blittable commented on #102
@curiousleo

So, it seems the directory exists, permissions are correct, etc.  But, if `rustfmt` fails to emit the source files into the directory, we get the exact same (somewhat misleading) error.

Beyond that, I'd:
1) look at the build dependency requirements  configuration for rust in NixOS.  `rustfmt` may need to be added to the array.
https://github.com/NixOS/nixpkgs/blob/master/doc/language

[2019-11-05 15:00] LucioFranco opened #119 "Expose `set_nodelay` for server and channel"
We should expose the hyper `set_nodelay` option as a config option for the transport channel and server.

[2019-11-05 20:06] LucioFranco commented on #101
Oh very nice! @jen20 happy with what ever you think we should go with

[2019-11-05 20:09] LucioFranco commented on #30
@blittable agreed, I will think about it a bit.

[2019-11-05 20:10] LucioFranco commented on #117
So I'm not sure if this is a bug because technically it was intentional but I'm not sure how to get both working. Thanks for opening this.

[2019-11-05 20:25] LucioFranco commented on #118
@blittable maybe im missing something, but is the api not documented? I assume you mean we should improve its documentation?

[2019-11-05 20:27] blittable commented on #118
Maybe a sample on that link with the additional configuration options?  (Like out_dir)

[2019-11-05 21:26] curiousleo commented on #102
I added the following to `build.rs`:

[code]

and it prints out `rustfmt`'s help, so the build process itself has access to `rustfmt` (i.e. it's on the path and executable by the build script).

I ran

[code]

All of them failed to build with the same error.

[2019-11-05 21:33] LucioFranco commented on #102
I guess really we gotta figure out what call is failing. I wonder if strace can help us here?

[2019-11-05 22:35] blittable commented on #102
@curiousleo

thanks for the additional info.  As a sanity check (it may be too late!) - could you run something like:

rustfmt --edition 2018 helloworld.rs target/debug/../

Just take a rust source file and output the fustfmt result to one of the output directories.

[2019-11-06 10:57] dominiquelefevre commented on #103
Fixing #119 actually resolves this one.

[2019-11-06 10:57] #103 closed

[2019-11-06 11:02] dominiquelefevre commented on #119
Hi,

I've made a PR #120 once I learned that my problem with abnormal latencies was caused tokio defaulting to non-TCP_NODELAY sockets.

I did not make TCP_NODELAY a configuration option, though. It is required for services that exchange small requests, and adds no overhead in services that exchange bigger messages. I believe it makes sense to enable TCP_NODELAY unconditionally.

[2019-11-06 15:56] cpcloud commented on #102
@curiousleo Can you try adding `protobuf` to your overlay and then setting `PROTOC = "${protobuf}/bin/protoc`?

[2019-11-07 00:08] sezna commented on #106
Hm, ok. I will wrap it for now and talk to the prost people about this. Thanks!

[2019-11-07 00:08] #106 closed

[2019-11-07 16:15] rylev opened #123 "Consider making users not explicitly declare dependencies needed by generated code"
## Feature Request

### Crates

This arguably effects both `tonic` and `tonic_build`

### Motivation

It is quite confusing when you write one line of code and it produces an absolute mountain of error messages. This is what happens when you generate code using `tonic_build` and you then include that generated code using `tonic::include_proto!`.

This is because the generated code not only depends

[2019-11-07 16:41] carllerche commented on #123
Thanks for bringing this up. I think your proposal is on point. Tonic can have doc hides re-exports of types it needs. @LucioFranco, what do you think?

[2019-11-09 09:44] jen20 commented on #101
I'll update #114 to use the native certs crates, that is likely a more appropriate option than simply relying on the Mozilla roots.

[2019-11-09 16:31] LucioFranco commented on #101
@xmclark this should be fixed with #114, feel free to reopen if there are any more issues.

[2019-11-09 16:31] #101 closed

[2019-11-09 16:38] LucioFranco commented on #123
So this is actually a `prost` issue specifically with `prost_derive` I believe. It refernces `prost`, `bytes` and `prost-types` directly. Tonic's codegen runs through the codegen module to avoid this issue but this something that would need to be upstreamed into prost unfortunetly.

[2019-11-10 02:53] #118 closed

[2019-11-10 09:11] ccc13 opened #127 "Failed to run example load-balance-client"
## Bug Report

### Version

[code]

### Platform

[code]

### Crates

[code]

### Description

When I run the following command(server ran in another terminal):
[code]

And I got the error:
[code]

It went well when I use version `v0.1.0-alpha.4`, so it may be broken by new changes. :joy:

[2019-11-10 15:28] #127 closed

[2019-11-10 15:28] LucioFranco commented on #127
@ccc13 this should be fixed! thanks for reporting it!

[2019-11-10 16:43] LucioFranco commented on #127
alpha.6 is out and has this fix

[2019-11-11 02:02] trezm opened #133 "Can we open up some of the codec methods?"
## Feature Request
I'd love for some of the methods within the codec module to be opened up to have `pub` instead of `pub(crate)` visibility.

### Crates
tonic

### Motivation
I've been toying around with adding some of the awesome work done here to my own projects, and I had to fork tonic to expose some of the methods within the codec module, as well as a few elsewhere.

### Proposal
Move to pub

[2019-11-11 08:41] abdul-rehman0 commented on #117
I have a similar case, I am using hyper client in a response stream, I get:

the trait `std::marker::Sync` is not implemented for `(dyn core::future::future::Future<Output = std::result::Result<http::response::Response<hyper::body::body::Body>, hyper::error::Error>> + std::marker::Send + 'static)`

it works with 0.1.0-alpha.4 as mentioned in OP, and fails in 0.1.0-alpha.6. I am not sure how to wor

[2019-11-11 14:23] LucioFranco commented on #117
So I believe using a channel should work as a temporary solution. @abdul-rehman0 would you be able to use a channel and a spawned task instead?

[2019-11-11 14:27] #115 closed

[2019-11-11 14:28] LucioFranco commented on #133
@trezm hi! Could you explain more what your use case is? Mostly also curious why tower doesn't work for you as an abstraction?

[2019-11-11 14:38] trezm commented on #133
You bet! I'm working on an alternative web framework ([thruster](https://github.com/trezm/thruster)) so it feels a little redundant to have an extra routing layer underneath.

I guess it would just be nice to have a really thin translation layer over the speed and ubiquity that Hyper provides out of the box -- or perhaps even a generalized layer of streams, but that's probably a better question fo

[2019-11-11 15:21] abdul-rehman0 commented on #117
@LucioFranco using a channel and spawn works for me, Thanks.

Changed the following code:
[code]
To:
[code]

[2019-11-12 12:33] jen20 opened #135 "Implement gRPC standard health checking service"
## Feature Request

### Motivation

gRPC defines a standard health checking service, [here](https://github.com/grpc/grpc/blob/master/doc/health-checking.md). This is a somewhat common requirement for services.

### Proposal

Implement a crate which allows this to be implemented via a simple trait and exposed via the Tonic `add_service` function.

### Alternatives

Implement this as a crate outside

[2019-11-12 21:27] jen20 opened #136 "Consider use over a Unix domain socket"
As discussed in Discord, it would be useful if Tonic could be used via transports other than TCP sockets - for example a Unix domain socket.

[2019-11-13 13:08] ebkalderon commented on #136
I was just about to open an issue for this. I'm currently using this [working branch of `hyperlocal`](https://github.com/softprops/hyperlocal/pull/25) to implement a custom `Server` that serves on Unix domain sockets in a personal project.

[2019-11-13 22:28] LucioFranco commented on #136
I am on vacation right now but ill drop a hint at what I think the correct solution should be. We should provide a `MakeConnection` builder option for both server and client. This `MakeConnection` should allow us to swap out the underlying asyncread/write.

[2019-11-14 07:14] ebkalderon opened #139 "Upgrade to stable futures 0.3"
## Feature Request

### Motivation

Currently, Tonic is not semver compatible with stable upstream `futures` >= 0.3.0 because the manifest pins the version to `futures-core-preview = "=0.3.0-alpha.19"`. This means that conversion traits such as `IntoRequest` and `IntoStreamingRequest` do not work as expected in projects that depend on upstream `futures` 0.3.1, which results in confusing and mislea

[2019-11-14 08:19] curiousleo commented on #102
OMG that worked @cpcloud! :man_facepalming: sorry about this, and thanks to everyone for the help!

Side note - I get that Rust's `NotFound` is designed not to allocate and therefore can't contain the name of the thing that it failed to find. But it would have been _so_ useful in this case for it to say "No such file or directory: protoc" instead of "No such file or directory" ...

Anyway, thanks!

[2019-11-14 08:19] #102 closed

[2019-11-14 22:18] LucioFranco commented on #102
@cpcloud is this something we could add to the docs maybe? I guess that really is more of a prost thing though...

[2019-11-14 22:19] LucioFranco commented on #139
@ebkalderon yeah we should update, we should also move to a git version of hyper and tokio while everything upgrade but I am catuious about breaking things. Next tokio release should be next week so I'll follow up then. Sorry about things being a bit in flux :(

[2019-11-14 22:32] LucioFranco commented on #135
@jen20 separate crate makes sense 👍

[2019-11-14 22:33] LucioFranco commented on #117
Cool, I think this is probably the correct solution for now. I think it makes sense to cover both send and sync for now in the trait object since users can just use a channel.

[2019-11-14 22:37] LucioFranco commented on #133
is there a reason you can't use https://docs.rs/tonic/0.1.0-alpha.6/tonic/client/struct.Grpc.html ?

[2019-11-14 22:54] trezm commented on #133
Forgive me if this is a silly question, but isn't doesn't that struct require a tower service? If that's the case the idea would be to give an option for people to use tonic without using tower as well, as it seems like going from stream to struct should be able to be decoupled from the tower portion of the project.

[2019-11-14 23:00] LucioFranco commented on #133
@trezm Right, the goal of tonic is to abstract around tower and http-body. Is there a reason this doesn't work for you? or is it more so that its an extra api to learn?

The big reason why I didn't make those fn open is because I'm not sure if I want to stabalize them yet. I really want to expose a small surface area so that we can get tonic onto an actual stable release soon. I do plan on exposin

[2019-11-14 23:11] trezm commented on #133
Ah, totally, not wanting to expose a potentially unstable api is a very reasonable response.

The reasoning here for me not particularly wanting to include tonic, is that it I'm working on an example integration for another web framework. Having two layered on top of each other for the sake of getting what's essentially a protocol feel redundant to me. It's not a matter of learning an extra api or

[2019-11-15 10:20] curiousleo commented on #102
Digging a little deeper into the lack of error message here:
- `tonic-build` depends on `prost = "0.5"`: https://github.com/hyperium/tonic/blob/v0.1.0-alpha.5/tonic-build/Cargo.toml#L19
- `prost = "0.5"` currently resolves to v0.5.0 because there's no other v0.5.x
- `prost` v0.5.0 should actually fail with a nice error when it can't find `protoc`: https://github.com/danburkert/prost/blob/v0.5.0/pr

[2019-11-15 12:28] LucioFranco commented on #102
@curiousleo I think that gets bubbled up to the user there with the `?`?

[2019-11-15 13:14] curiousleo commented on #102
It should, right? That's my understanding too. However, the `prost` 0.5.0 error message
[code]
(https://github.com/danburkert/prost/blob/v0.5.0/prost-build/build.rs#L98-L99)
is nowhere to be seen in my logs. Having it there would have made it immediately obvious what the problem was. So _somewhere_ that error message must be swallowed, right?

[2019-11-15 21:59] LucioFranco commented on #102
yeah, somewhere it must be...not sure where though...I am out of town for another week so won't be able to look till then.

[2019-11-15 23:53] tjtelan commented on #52
Multiplexed server routing is covered in the examples now.

https://github.com/hyperium/tonic/blob/f9502dfd7ef306fff86c83b711bc96623555ef5c/tonic-examples/src/multiplex/server.rs#L23-L36

[2019-11-16 08:48] LucioFranco commented on #52
Yup, thanks for updating this, I think we can close it! Feel free to reopen if your issue is not resolved.

[2019-11-16 08:48] #52 closed

[2019-11-17 10:25] abdul-rehman0 commented on #90
@LucioFranco this is done in [Change channel connect to be async](#107), right?

[2019-11-17 12:12] LucioFranco commented on #90
Yup I thought this got closed with the PR thanks for checking!

[2019-11-17 12:12] #90 closed

[2019-11-17 17:43] zakhenry commented on #52
Hey thanks for the update, I got kinda stuck with the other strategy and ended up working on other projects, but coming back to this one and using the new `.add_service` method works perfectly, thanks!

[2019-11-19 19:52] akshayknarayan commented on #136
Over at https://github.com/akshayknarayan/tonic/commit/02defcd19dc6294de5c3e7f17d903c8aaef1bfef, I've written a temporary hack which addresses this issue in the same way as TLS support - a "unix" feature gate.

This relies on https://crates.io/crates/hyper-unix-connector, which is similar to `hyperlocal` except it also provides the plumbing needed to make this connector.

This approach probably sh

[2019-11-21 01:38] parasyte commented on #38
I hit this problem with a different repo case. Compiling two proto files with the same package name will output Rust source code like:

[code]

Which then leads to errors:

[code]

I have to merge all proto files for the single package into one file to workaround this issue.

[2019-11-21 11:25] xd009642 opened #144 "Graceful shutdown docs/example/default-impl"
Graceful shutdown is recommended for GRPC servers. Upon receiving a SIGTERM stop serving new requests and wait a maximum predetermined amount of time to finish existing requests before closing the program. This would be helpful to document if it's done already or add an example showing how to add it. Even better would be adding a recommended implementation of this that users can enable either in t

[2019-11-21 18:29] parasyte commented on #38
There are a few different issues that I've found so far. First, take this set of proto files:

<details><summary>Proto files</summary>

## `proto/hello.proto`

[code]

## `proto/goodbye.proto`

[code]

## `proto/types.proto`

[code]
</details>

And the following `build.rs`:

[code]

This fails to work because building `goodbye.proto` completely overwrites the output file generated for `hello.proto

[2019-11-21 20:29] alce opened #146 "Review cargo-deny configuration"
I recently had to wrestle cargo-deny for a PR to pass CI. In the process, it helped getting rid of duplicate `rand` versions, which is not an essential dependency for Tonic.

On the other hand, I had to allow multiple versions of `crossbeam-queue` to exist in the dependency tree. I think this is ok for now but we may want to revisit `deny.toml` once we upgrade `tokio`, `futures` and other essentia

[2019-11-21 23:57] arjunyel opened #149 "Upstream to main gRPC repo"
## Feature Request

### Motivation

Thank you for the awesome work on this :D Is it possible to upstream this implementation to the main gRPC repo?

### Proposal

Last word on this was:

https://github.com/grpc/grpc/issues/9316#issuecomment-273529285

[2019-11-22 13:38] LucioFranco commented on #149
@arjunyel this seems interesting, I'm not sure what their definition of the "quality bar" is so it may make sense to open an issue in the main grpc repo about this?

[2019-11-22 15:44] martin-css opened #150 "Streaming Methods on Windows - No Response Received"
## Bug Report
### Version

Rust (stable) v1.39. The relevant `tonic` crates are:

[code]

### Platform

Windows 7 (64 bit)

### Description

Are there known issues with the streaming response type when using Tonic in Windows? I appreciate it might be a lower level library like `tokio` that has the issue but it's using tonic that brought it to my attention.

Take a simple proto API example:

[code]

[2019-11-22 16:01] martin-css commented on #150
Also just tried this on a Windows 10 (64bit) machine just to check it wasn't a Windows 7 only issue - same problem.

[2019-11-22 17:49] Jake-Shadle commented on #146
Note that cargo deny will show warnings if you've specified to skip a particular crate + version that isn't found in the dependency graph so that you can clean up configs as your dependency graph changes.

[2019-11-22 18:16] LucioFranco commented on #150
@martin-css hi! Could you provide the code you are using to generate the stream and consume it? We run the interop tests on windows which ensures that streaming works between tonic client/server pairs and tonic/grpc-go. So this leads me the believe that maybe there is something wrong with how the stream is being yielded?

[2019-11-22 20:02] martin-css commented on #150
Sorry @LucioFranco , this is a non-issue. Was looking at making a small reproducible sample and realised I hadn't spawned a new async task to send the responses (i.e. not wrapped in `tokio::spawn`) - was attempting to send & await in the main implementation.

Once I fixed my dodgy code it is all working as expected :+1:

Just started learning Rust the last couple of days so sure there will be some

[2019-11-22 20:02] #150 closed

[2019-11-23 16:48] LucioFranco commented on #150
@martin-css no worries! Glad you figured it out, feel free to pop onto discord if you need anymore help :)

[2019-11-24 02:18] xmclark opened #152 "Support futures runtimes other than Tokio"
Tonic seems to have made a large investment on Hyper and Tokio ecoystem. This had the side effect of making other runtimes not work well with tonic.

A basic demo of this can be created using on any of the tonic examples:
1. Add `async-std = { version = "1.1.0", features = ["attributes"]}` to the dependencies list
2. Replace `#[tokio::main]` with `#[async_std::main]`
3. Run `cargo run --example he

[2019-11-25 15:38] LucioFranco commented on #152
@xmclark hi! Tonic is still at an alpha release (soon to be 0.1) so its still early in the process. There are a few things that tie us to tokio/hyper, mainly the transport module which is behind a feature flag. The real abstracion for tonic is around `tower-service` and `http-body` crates which both do not tie to tokio/hyper. So in theory, if you have another http/2 implenetation you can just impl

[2019-11-25 19:48] nicholasbishop opened #154 "Is there a way to handle unhandled requests?"
I have a server that implements a number of services, but I'm not totally confident I've implemented all the services that the clients require. I would like to log an error if an unhandled request is made, something like this:

[code]

I'm guessing that I could do this by implementing my own [Service](https://docs.rs/tower-service/0.3.0-alpha.2/tower_service/trait.Service.html). If that is the rig

[2019-11-25 21:48] LucioFranco commented on #154
You should be able to use the https://docs.rs/tonic/0.1.0-alpha.6/tonic/transport/struct.Server.html#method.interceptor_fn to check the type of the outbound response.

[2019-11-26 19:57] xd009642 opened #156 "Default span propagation for tracing in builders"
Following on from https://github.com/jtescher/opentelemetry-rust/issues/17

It would be useful if the server and client builders provided a default implementing for propagating parent spans via the `grpc-trace-bin` header. Currently I have something similar to this for a service I'm working on using https://github.com/census-instrumentation/opencensus-go/blob/17d7955af9d42886455ce010dd46878208041a

[2019-11-26 20:05] xd009642 commented on #156
I'm also getting `BinaryPropagator` from the `opentelemetry` so not sure about what to do with that...

[2019-11-26 20:12] jtescher commented on #156
@xd009642 you can also look at the the `actix-web` impl if that helps https://github.com/OutThereLabs/actix-web-opentelemetry/blob/master/src/middleware/trace.rs#L152

[2019-11-26 20:15] xd009642 commented on #156
slightly, though I kinda thought it would be possible to do this with just tracing and what tonic already has? I'm currently reading up some docs to try and figure it all out in my mind before asking a bunch of stupid questions :smile:

[2019-11-26 20:24] xd009642 commented on #156
Oh I see the grpc-trace-bin format is defined by different tracing services like opencensus etc. So I suppose I could take a `Fn` that takes the bytes from the trace header and decodes them to return an option of the span parent id. That would minimise the boilerplate but not solve my span name issue.

And of course whether the span name is actually standardised in any way between the different tr

[2019-11-27 12:16] dawid-nowak opened #158 "Upgrade to async-stream 0.2.0 ?"
Any idea why upgrading to async-stream 0.2.0 would break the build ?

[code]

[2019-11-27 14:37] LucioFranco commented on #158
Hey! I am hopping to get a new release of tonic out this week as 0.1. This should include this fix.

[2019-11-27 15:03] dawid-nowak commented on #158
That would be awesome!

[2019-11-27 15:03] #158 closed

[2019-11-28 09:03] xd009642 commented on #135
Has there been any progress on this? Just wondering before I implement my own :smile:

[2019-11-28 15:09] jen20 commented on #135
@xd009642 I haven't made any yet, but do need to at some point. If you do it before Saturday you'll likely beat me to it though :-)

[2019-11-28 15:24] xd009642 commented on #135
I think I'll be starting on Monday so you may still beat me :smile:

[2019-11-28 21:56] zakhenry commented on #135
I’ve done the other end of this (client health checking) using tonic - https://github.com/zakhenry/nightingale It might make sense for this lib to be in there same repo? I’d be happy to contribute 😁

[2019-11-29 15:44] LucioFranco opened #159 "Upgrade to `tokio` 0.2"
Blockers:

- [x] `tower-service 0.3`
- [x] `hyper 0.13`
- [x] Update all the smaller tower services

[2019-11-29 17:39] rlabrecque commented on #135
Here's something for someone to start on, I hacked this together quickly a few weeks back, I don't think it quite follows the spec, and is kinda gross, but it was good enough for my needs initially.

[code]

[code]

[code]

[2019-11-29 19:04] LucioFranco opened #160 "Upgrade `bytes` to `0.5`"

[2019-11-30 21:50] trezm commented on #133
@LucioFranco just pinging to see if you have any thoughts! Let me know if this is totally out of scope and I'll close the issue.

[2019-12-01 15:07] xd009642 commented on #135
I started something and used some of @rlabrecque's work to go off https://github.com/xd009642/tonic-health I was thinking of using a spmc queue to effectively signal the wait method and potentially adding the signal handling for graceful shutdown (although looking at it I think I won't do that here).

[2019-12-01 17:58] nicholasbishop commented on #154
Thanks for the pointer. Here's how I have it implemented now:

[code]

Thanks for the help :)

[2019-12-01 18:13] LucioFranco commented on #133
@trezm hey! Sorry, I went on vacation since your last post so lost track of things 😄

I want to evaluate more what you are suggesting, I do in the end want to expose those codec fn but for now I'd like to keep them private. I want to push for a 0.1 release soon, once that is done lets pick this back up. Once, we have a version of tonic out that is 0.1 I am happy to look at your use case in thruste

[2019-12-01 18:14] LucioFranco commented on #154
great! Feel free to reopen this if you have anymore questions :)

[2019-12-01 18:14] #154 closed

[2019-12-01 19:13] xd009642 commented on #135
Okay I'm not there yet but it's starting to look some what there. My wait implementation is still a bit up in the air though

[2019-12-02 20:34] joelgallant commented on #159
https://github.com/tower-rs/tower/issues/367
https://github.com/hyperium/hyper/issues/2025

just for anyone who ran into `all possible versions conflict with previously selected packages.` when using tokio '0.2'

[2019-12-03 00:13] LucioFranco commented on #159
Hey! Yup, were working on getting hyper out this week, there still needs to be an update to all the tower services we use so I am focusing on that. Once, all those are done tonic can be released as a 0.1.

[2019-12-03 00:16] rlabrecque commented on #135
If you know how to get rid of the NamedService stuff, that would be fantastic!

[2019-12-03 21:28] Daniel-B-Smith commented on #139
Any update on when this will happen?

[2019-12-03 21:29] LucioFranco opened #161 "Upgrade to `tower 0.3`"

[2019-12-03 21:30] LucioFranco commented on #139
Yes, I am actively working on this right now. We have a couple of blockers. I am hopping to get a release out this week but it really depends on the other deps and issues we run into.

- #159
- #160
- #161
- and `hyper 0.13` release

[2019-12-03 21:41] Daniel-B-Smith commented on #139
Thanks for the fast response!

[2019-12-04 03:19] rib opened #162 "'ready' function for client services clashes with 'ready' rpc method"
## Bug Report

### Version
├── tonic v0.1.0-alpha.6
└── tonic-build v0.1.0-alpha.6

### Crates
tonic-build

### Description

I started looking at using tonic with [this Agones SDK protocol](https://github.com/googleforgames/agones/blob/master/sdk.proto) today and found that the generated code wouldn't compile because there were multiple 'ready' functions for the service. (ref: https://github.com/h

[2019-12-04 04:56] LucioFranco commented on #162
Do you have an example error message I could see, there should only be one ready generated per struct which as far as I know shouldn't violate rust's model.

[2019-12-04 14:37] rib commented on #162
Yep, here's the original compilation failure I hit:
[code]

So, the issue is that there can be an rpc method named 'ready' which tonic isn't in control of, which can be in addition to the one generated by tonic.

This is the workaround I'm currently using, which fixes the issue for me:
https://github.com/rib/tonic/commit/ee60bc702d8c4bef3a5f59354d3aa8ea3bb7c67d
(though I didn't give the alternate

[2019-12-04 14:49] LucioFranco commented on #162
Ah I see the rpc name is clashing...fun...I'll have to think about this one. It may not be worth it to expose a async fn ready. The solution might be to actually just expose the `poll_ready`. This is quite unfortunate though :(

[2019-12-06 05:10] LucioFranco commented on #139
This is done on master! #163 Thanks for the patience everyone <3

[2019-12-06 05:10] #139 closed

[2019-12-06 05:10] LucioFranco commented on #161
#163

[2019-12-06 05:10] #161 closed

[2019-12-06 05:10] LucioFranco commented on #159
This has been done in #163 and is on master!

[2019-12-06 05:10] #159 closed

[2019-12-06 05:10] LucioFranco commented on #160
#163

[2019-12-06 05:10] #160 closed

[2019-12-06 13:25] danieleades commented on #136
there's been a bit of churn on hyperlocal. see
- https://github.com/softprops/hyperlocal/pull/25
- https://github.com/softprops/hyperlocal/pull/29

what impact does this have on what you're proposing?

[2019-12-06 16:21] akshayknarayan commented on #136
Changes in tonic to allow custom connectors in `Endpoint` are still necessary - the changes in hyperlocal would have impact on callers passing in custom connectors, but not directly here.

[2019-12-06 17:05] LucioFranco commented on #136
Hey just to update I'd like to get this in tonic for `0.1`.

[2019-12-06 17:07] LucioFranco commented on #117
I think the above solution works well for this, so I will close this issue, feel free to reopen if you have any more questions.

[2019-12-06 18:51] Daniel-B-Smith opened #165 "Support gRPC reflection"
[gRPC Reflection](https://github.com/grpc/grpc/blob/master/doc/server-reflection.md) is very useful for debugging and with tools like [grpc_cli](https://github.com/grpc/grpc/blob/master/doc/command_line_tool.md). I would probably consider this a lower priority feature but do think it should be on the roadmap.

[2019-12-06 22:07] #119 closed

[2019-12-06 23:55] bmwill opened #167 "Construct a Client that will lazily establish a connection"
## Feature Request

Construct a Client that will lazily establish a connection

### Motivation

Sometimes it would be useful to be able to construct a client and defer establishing a connection with a server until you make a request.

### Proposal

Today when creating a client the connection with the server must be established before a client struct is returned from the `::connect()` function. Per

[2019-12-08 18:36] pruthvikar commented on #162
Could you put `ready` in a trait and use the [Universal Function Call Syntax](https://doc.rust-lang.org/1.7.0/book/ufcs.html) to handle clashes?

[2019-12-09 14:27] akesling opened #168 "Using same package across multiple proto files fails when multiple services are present"
## Bug Report

### Version

$ cargo tree | grep tonic
foobar v0.1.0 (/Users/akesling/Devel/rust/tonic-break/foobar)
└── tonic v0.1.0-alpha.6
└── tonic-build v0.1.0-alpha.6

### Platform

$ uname -a
Darwin notloh.lan 19.0.0 Darwin Kernel Version 19.0.0: Thu Oct 17 16:17:15 PDT 2019; root:xnu-6153.41.3~29/RELEASE_X86_64 x86_64

### Description

I've created an example project demonstrating the failu

[2019-12-09 14:32] akesling commented on #168
The simplest stop-gap I've found for this is to move all service definitions into a single "services.proto" file per package.  This is definitely sub-par but can at least unblock the issue.

[2019-12-09 15:29] LucioFranco commented on #168
Hi! Thanks for reporting, I believe this is a duplicate of #38?

[2019-12-09 15:55] rib commented on #38
I've just hit this issue too but in my case the proto files are from [Open Match](https://github.com/googleforgames/open-match/tree/master/api), (a third-party that's not conceptually under my control), so it's really not ideal to have to concatenate files.

Incidentally, I'm also seeing that dependencies seem a bit awkward to deal with currently because you have to manually check what dependencie

[2019-12-09 16:30] rib commented on #38
For reference here's a minimal reproduction for the case I have: https://github.com/rib/tonic-issue-38-repro

[2019-12-09 18:41] akesling commented on #168
Ah, I didn't read far enough into it.  The observation in 38#issuecomment-556796099 is definitely the same issue.  Is #38 multiple issues with codegen or am I missing something?  If it is, should it be split up into one issue per specific user-visible behavior?

[2019-12-09 20:28] LucioFranco commented on #168
I think it relates to the same issue as having multiple services in the same proto package that gets compiled together.

[2019-12-11 11:48] b333z commented on #102
In case of use, I landed here after this https://github.com/danburkert/prost/issues/182 were  https://github.com/nagisa strace'd out the other bit of the puzzle.

So looks like prost finds its own bundled protoc which will have a bad interpreter on a nixos system (being a non-patchelf'd foreign binary) and am guessing the `NotFound` comes up from std at the point of executing the bundled protoc re

[2019-12-11 17:10] LucioFranco commented on #162
@pruthvikar that is an interesting idea! That could work, we could also just expose it as `poll_ready` and then in each async fn just call `poll_fn`.

[2019-12-11 20:06] LucioFranco commented on #165
Hi! Yes, this would be really nice to support! The biggest issue right now is we are trying to decouple our codegen/encoding (prost/protobuf/flatbuffers) from tonic's core code. This will make it harder to get the proper abstracted file descriptors needed to generate this. That said I would def like to support this but its gonna be a bit lower priority.

[2019-12-11 21:22] LucioFranco commented on #38
Hi all, I believe #173 fixed this issue, please let me know if you run into any issues.

[2019-12-12 00:33] LucioFranco commented on #38
I am gonna close this, if someone is seeing this again we can reopen, so if you do see it please comment here, thanks! :)

[2019-12-12 00:33] #38 closed

[2019-12-12 00:33] LucioFranco commented on #168
I believe this should be fixed by #173, feel free to reopen is it doesnt!

[2019-12-12 00:33] #168 closed

[2019-12-12 00:43] sezna opened #176 "TLS Feature Flag is Undocumented"
## Bug Report

### Version
 0.1.0-alpha.6

N/A
### Platform
N/A

### Crates
tonic

### Description

The docs.rs pages for content regarding TLS  ([example](https://docs.rs/tonic/0.1.0-alpha.6/tonic/transport/struct.ClientTlsConfig.html)) don't mention that they're feature-gated behind the `tls` feature flag. They only mention the `transport` flag. I'm unsure if `transport` is supposed to say `tls`

[2019-12-12 00:47] LucioFranco opened #177 "Support "context" within the server."
I would like to add "context" (I am using quotes because I think this is a bad word) support within tonic's transport server. This should be done via a similar method that http::Request has an `extenions` with an `AnyMap` behind it. This way we can let the interceptor/or any other type of transport populate it, then let users get the "context" from request handlers. Then the `transport` module can

[2019-12-12 09:03] Farenjihn commented on #177
Thanks for opening up an issue !

IIUC, this would allow implementors of a gRPC service (through the generated trait) to access this "context", for lack of a better term. So effectively, `tonic`'s `Request` type would implement a mechanism similar to `http`'s request extensions.

Given that interceptors currently receive `http`'s `Request` type as argument, how would it work to access said "contex

[2019-12-12 14:53] LucioFranco commented on #177
@Farenjihn Yeah, that is the idea, I am not sure yet how to mix and match http with its request extensions. I'd also like to find a better way to let users inject logging. My goal is to get `0.1` out by next week and I want to include these features.

[2019-12-12 17:57] bmwill opened #182 "Generate module names should be readable"
I noticed that #173 changes the generated modules where client and server live, but if you have an endpoint `ThatHasALongName` it generates a module name `thathasalongname_{server/client}` instead of a more readable `that_has_a_long_name_{server/client}`.

[2019-12-12 21:31] LucioFranco commented on #156
This was done in #175

[2019-12-12 21:31] #156 closed

[2019-12-12 21:33] #34 closed

[2019-12-12 21:34] LucioFranco commented on #33
I think we can close this, feel free to reopen if you have any more questions :)

[2019-12-12 21:34] #33 closed

[2019-12-13 22:07] LucioFranco commented on #144
This is now supported via #169

[2019-12-13 22:07] #144 closed

[2019-12-13 22:14] #136 closed

[2019-12-13 23:19] #162 closed

[2019-12-14 01:25] #71 closed

[2019-12-14 01:31] #176 closed

[2019-12-14 01:32] #116 closed

[2019-12-14 01:33] LucioFranco commented on #98
I am going to drop this from `0.1` looks like we will get a `prost` 0.6 soon and we can release more releases to support this.

[2019-12-14 19:05] LucioFranco commented on #167
Sorry, this was closed wrong, the issue for reestablishing connections is fixed but to support lazy connections, the idea I have is to provide a method on `Channel` that is similar to `connect` but `connect_lazy` that will lazily connect.

[2019-12-14 20:08] #182 closed

[2019-12-14 20:26] LucioFranco commented on #177
This was done in #186 and lays the groundwork for further things to be added.

[2019-12-14 20:26] #177 closed

[2019-12-14 21:04] #146 closed

[2019-12-15 22:49] bmwill opened #191 "Stack overflow when using a client with a broken connection"
Since #187 landed I figured I would try to see if my simple hello world example would work on the latest master where I use the following client, connect to the helloworld-server, wait for a few RPCs then kill the server.

[code]

Unexpectedly I instead am greeted by a stack overflow (instead of an error) when I kill the server:
[code]

<details>
<summary> Stack Trace </summary>

[code]

</details

[2019-12-15 23:36] #191 closed

[2019-12-17 10:01] caulagi opened #193 "helloworld example fails when rustfmt is disabled"
## Bug Report

I get the following error when I disable `rustfmt` in `tonic-build`

[code]

[2019-12-17 15:29] LucioFranco commented on #193
Yeah, this seems like a bug! I will check it out later today, thanks for reporting!

[2019-12-17 19:25] LucioFranco commented on #123
Related upstream issue https://github.com/danburkert/prost/issues/127

[2019-12-17 20:07] tkschmidt opened #194 "Tensorflow protos generate non-working implementations"
## Bug Report

### Version

[code]

### Platform

64-bit Windows

### Description

Im trying to make the **tensorflow** protobuf file work with tonic. It successfully generates the necessary rust file  from the protobuf files.

When I include them into my main.rs and start the build:
[code]

I pushed a repository to create this issue:
https://github.com/tkschmidt/visualizeThings

Am I doing anythi

[2019-12-17 20:12] tkschmidt commented on #194
Im not very happy with the title but cant make up anything better :/

[2019-12-17 21:14] LucioFranco commented on #194
@tkschmidt just to make sure, what version of `bytes` do you have in your cargo.toml? It right now needs to be `bytes = "0.4"` even though there is a `0.5` out.

[2019-12-17 21:20] LucioFranco commented on #194
Ok got it working you had two issues one was 1) you need to bring in tonic build from git because there were changes and that was what the error you were seeing 2) you needed to import the correct client module. Here is the diff I got working

[code]

[2019-12-17 21:42] junky89 opened #196 "How to detect stream disconnection on server side"
Hi,

I'm not sure that it is the place to ask. So if it is not, excuse my mistake.

In my application I need to react when a client disconnects from an stream (directional, server to client) and I can't figure out how. I check all the examples and information I could, but without luck. At the moment, what I could achieve is to check if an error was produced when I send a message to this client (th

[2019-12-18 12:03] reyk commented on #159
Hi, are there any plans to release the tokio-0.2-compatible crate soon?

[2019-12-18 13:13] tkschmidt commented on #194
Thank you :)
Sry for the inconvenience.

[2019-12-18 13:13] #194 closed

[2019-12-18 14:42] LucioFranco commented on #159
Yeah, I have been waiting on some of our dependencies, I am gonna try to get a beta out today/tomorrow.

[2019-12-18 17:05] LucioFranco commented on #196
Hi! So when a client gets dropped aka disconnects, it will send a GOAWAY. You can check for this on the server side by using the `drop` impl of the stream you return. So when the client disconnects the server side stream's drop will be called. Hopefully this helps!

[2019-12-18 17:40] junky89 commented on #196
Hi. Thank you very much for the answer. It helped because now I know in wich direction I have to go, but still I don't get the full picture (I just been some month with Rust). What I understood is that I can implement drop for "mpsc::Receiver<Result<XXX, Status>>", is that right? Any change that there is any example somewhere on how to do it?

Sorry for my ignorance, and thank you very much again.

[2019-12-18 17:43] LucioFranco commented on #196
So you probably want to write your own `Stream` implementation, for reference you can do,

[code]

You can then use something like a `oneshot` channel that triggers on the drop to notify you somewhere else that the client disconnected.

No worries, happy to help :)

[2019-12-18 19:23] reyk commented on #159
That would be great!

[2019-12-18 22:54] junky89 commented on #196
I understand perfectly now. Tomorrow I will get on to it. That was very helpful, thank you very much.

[2019-12-19 10:19] oblique opened #197 "Release new alpha with tokio 0.2 and hyper 0.13"
Can you release new alpha with tokio 0.2 and hyper 0.13?

[2019-12-19 16:32] LucioFranco commented on #197
Yup! Working on it, there are a couple of dependency issues that I am resolving. Hopping to have it out soon.

[2019-12-19 16:36] LucioFranco commented on #196
Great! I am gonna close this issue, feel free to reopen it and/or come onto our discord if you have anymore questions!

[2019-12-19 16:36] #196 closed

[2019-12-19 17:24] oblique commented on #197
Cool thanks!

[2019-12-19 23:49] LucioFranco commented on #197
Released! https://crates.io/crates/tonic/0.1.0-beta.1

[2019-12-19 23:49] #197 closed

[2019-12-20 23:46] cogman opened #203 "Examples link in documentation is broken"
## Bug Report

### Version
0.1.0.beta1

### Description

The examples links in docs.rs are broken.  Some of the examples also reference files found in the incorrect path.

I've fixed this with the following pull request
#202

[2019-12-21 03:47] #203 closed

[2019-12-21 03:47] LucioFranco commented on #203
Thanks!

[2019-12-21 20:31] YoEight opened #204 "Codegen generating bad code (conflicting trait implementation)"
Greetings,

## Bug Report

### Version
[code]

[code]

### Platform

[code]

### Description
When using codegen feature, I got conflicting trait implementation errors on generated code. Here's a snippet:

[code]

This is the `build.rs` script I use:

[code]

I used those proto definitions: https://github.com/EventStore/EventStore/tree/master/src/Protos/Grpc

Thank you for your time.

[2019-12-21 21:00] YoEight commented on #204
It probably doesn't matter much but I also tried using `tonic::include_proto!` with no source code generation with this `build.rs` script:

[code]

But end up with those same conflicting trait implementation errors.

[2019-12-22 10:47] repi opened #205 "UDS example does not build on Windows"
Find a Windows equivalent of the below or try and disable the example on Windows?

[code]

[2019-12-22 15:03] LucioFranco commented on #205
We should just feature gate it, since I do not know of a similar thing for mio and windows. https://docs.rs/mio-uds/0.6.7/src/mio_uds/lib.rs.html#3

[2019-12-22 18:31] YoEight commented on #204
Resolved by applying some changes on the proto declaration files. Thanks @LucioFranco
=> https://github.com/EventStore/EventStore/issues/2173

[2019-12-22 18:31] #204 closed

[2019-12-24 08:18] messense commented on #205
@LucioFranco https://github.com/Azure/mio-uds-windows

[2019-12-25 22:45] nicholasbishop opened #209 "Broken pipe error when attempting to create a bunch of clients in one process"
tl;dr: when I create about 500 client connections in a process I get an error: "Client: connection error: broken pipe".

I realize this is a somewhat unusual thing to do, since normally you'd just create a connection and reuse it rather than creating a bunch of them. I got into this situation because I was creating a small benchmark to compare grpc-rs and tonic where I wanted to simulate a bunch o

[2019-12-26 18:20] LucioFranco commented on #209
@nicholasbishop hey! Can you run this same test to reproduce it but this time add `env_logger` and run it it with `RUST_LOG=hyper=debug` and one run with `RUST_LOG=h2=debug`?

[2019-12-26 19:35] nicholasbishop commented on #209
Sure, here are the logs:
- https://raw.githubusercontent.com/nicholasbishop/tonic-limit-bug/master/logs/hyper-debug.log
- https://raw.githubusercontent.com/nicholasbishop/tonic-limit-bug/master/logs/h2-debug.log

[2019-12-26 19:37] LucioFranco commented on #209
Ok looks like the go server is resetting the connections.

`[2019-12-26T19:25:27Z DEBUG hyper::proto::h2::client] connection error: Connection reset by peer (os error 104)`

Your join all will fail all clients if one of them fails. So it may make sense to modify how you do the join_all and handle the errors in the spawned task.

[2019-12-26 23:00] nicholasbishop commented on #209
Makes sense. I am surprised that I don't get the same behavior when launching a bunch of clients in separate processes, but perhaps the extra time spent launching the processes is enough to avoid hammering the server with quite as many simultaneous connections.

[2019-12-26 23:00] #209 closed

[2019-12-27 20:05] DominicWrege opened #210 "examples: helloworld-client fails to build on mac"
## Bug Report

### Version
Master

tonic-examples v0.1.0 (/private/tmp/tonic/examples)
├── tonic v0.1.0-beta.1 (/private/tmp/tonic/tonic)
└── tonic-build v0.1.0-beta.1 (/private/tmp/tonic/tonic-build)
### Platform

Mac OS X 10.14.6 (x86_64 Darwin 18.7.0)

### Description

#### Reproduce
Clone master, cd into examples and then run:
```export RUST_BACKTRACE=1```
```cargo run --bin helloworld-client`

[2019-12-27 21:11] nicholasbishop opened #211 "Benchmark comparison with grpc-rs"
Background: I've been working on an implementation of the [remote execution API](https://github.com/bazelbuild/remote-apis/blob/master/build/bazel/remote/execution/v2/remote_execution.proto) using tonic for both clients and the server. I've had some trouble getting good performance out of it, so I started looking into [grpc-rs](https://github.com/tikv/grpc-rs) to compare speed.

Unfortunately conv

[2019-12-27 21:30] LucioFranco commented on #211
Thanks for running these benches! I've been meaning to write some but it doesn't make to much sense right now because we are waiting on a new release of `prost` that should allow us to avoid an extra copy which I believe the `put_slice` is showing that. https://github.com/hyperium/tonic/blob/master/tonic/src/codec/prost.rs#L54

Pretty much tonic wise there is a decent amount of work left to optimi

[2019-12-27 21:31] LucioFranco commented on #210
Can you ensure you have `rustfmt` installed?

[2019-12-27 22:18] nicholasbishop commented on #211
Thanks for the info. I'll be sure to give the test another run once prost is updated.

[2019-12-27 22:32] LucioFranco commented on #211
Great! I'd also be very happy to work on this with you, expanding benchmarks and improving stuff is very much welcome here and I do plan on doing a bunch just kinda waiting for the last few things to flush out.

[2019-12-27 22:35] YoEight opened #212 "Support `native-tls` as a TLS abstraction."
## Feature Request

Support `native-tls` as a TLS abstraction.

### Crates

* native-tls

### Motivation
`rustls` because of its `webpki` dependency, can't support certificate with an IP address as its common name: https://github.com/briansmith/webpki/issues/54

It prevents `tonic` from being used in many situations due to this limitation.

### Proposal

### Alternatives

[2019-12-27 22:54] DominicWrege commented on #210
Sry i had an old version of ```rustfmt```installed

[2019-12-27 22:54] #210 closed

[2019-12-29 14:26] faern opened #213 "Error Display implementation contains source display impl as well"
## Feature Request

When printing a connection refused error and all its source errors you currently end up with:
[code]
That is very redundant and not very nice to read. A good rule is to not include the `Display` implementation of your source error in your error. Or if you do, don't return it from `source()`. Never do both.

I created a forum post on this topic a while back: https://users.rust-l

[2019-12-30 16:56] LucioFranco commented on #213
@faern hi! I agree the current error situation with the transport errors is a bit funky. I plan on improving them but am lacking some time right now to get there. I think what you're suggesting seems good! If you're open to PRing it I would love that and I'm happy to help out :)

[2019-12-30 16:58] LucioFranco commented on #212
@YoEight ah that is unfortunate :( I would like to see `rustls` support this feature and I don't think it totally makes that much sense to add `openssl` support back to the `transport` module. `native-tls` will not work because it currently doesn't support `ALPN` negotiation.

That said, it should be possible to supply your own connector which uses something like openssl via https://docs.rs/tonic/

[2019-12-31 05:01] adityapk00 opened #214 "Server streaming doesn't work over TLS"
Version: 0.1.0-beta.1
`tonic = { version = "0.1.0-beta.1", features = ["tls", "tls-roots"] }`

### Platform
Ubuntu 18.04 64-bit

### Description
The server streaming example doesn't work over TLS(https), but the exact same code works over http.

I create a client like this:
[code]

Now, when I try a streaming gRPC call with the domain `https://domain.co`, it fails with the following error message:

[2019-12-31 15:58] LucioFranco commented on #214
Hi! Can you provide more information on what the downstream service is, from what I can tell this looks like the response from the downstream is wrong. We also have tests that check for all the gRPC capabilities include TLS + server side streaming so I'm not sure exactly what is triggering this but more information would be helpful :)

[2019-12-31 18:02] Ciantic opened #215 "Bytes 0.5: Hello world fails with "impl has extra requirement `B: hello_world::HelloRequest_MESSAGE::_bytes::BufMut`""
## Bug Report
I followed Hello World, but updated the bytes to 0.5, and got this:

[code]

### Version

[code]

(It works just fine if I downgrade bytes to 0.4)

[2019-12-31 20:29] LucioFranco commented on #215
@Ciantic Yeah, currently, waiting on `prost` to update to `bytes 0.5` which should come in the next release. So for now you'll need to include bytes 0.4. This is the reason we have a `beta.1` instead of a `0.1`

[2020-01-01 00:07] ChristopherRabotin opened #216 "RPC with streaming input and unary output: unexpected internal error encountered"
## Bug Report

### Version
[code]

### Platform
OpenSuSE Leap 15

[code]

### Description
Endpoint works when using a Rust client. Fails with a Python 3 client using the official grpc libraries: that specific payload cannot be decoded it seems, and I don't know why. What kind of tips can you provide to either fix this, or further debug the encoding/decoding?

I'm currently running the server as:
[

[2020-01-02 15:54] LucioFranco commented on #216
This sounds like the python client is trying to perform a http1 -> http2 upgrade possibly. The error you are getting is that the frame the rust http2 library is getting doesn't correspond with the one its expecting. Can you check how the python library is trying to establish the connection?

[2020-01-02 17:32] ChristopherRabotin commented on #216
I'm setting up the connection in a similar fashion as in the example, with "insecure connection." https://github.com/grpc/grpc/blob/master/examples/python/route_guide/route_guide_client.py#L107

[2020-01-02 17:38] LucioFranco commented on #216
Interesting, @ChristopherRabotin would you be able to check wireshark on what type of frames its getting. From what I can tell there is a mismatch in the http2 protocol that the python client is sending. so it would be good to see what the rust server is actually getting.

[2020-01-02 19:09] ChristopherRabotin commented on #216
Sure thing. I'll give that info in a few hours, I'm on the move right now

Christopher Rabotin.

On Thu, Jan 2, 2020, 12:38 Lucio Franco <notifications@github.com> wrote:

[2020-01-02 20:16] LucioFranco commented on #216
Thanks! I am happy to take a look too but am a bit busy this week, so any more info is super helpful!

[2020-01-04 16:22] ChristopherRabotin commented on #216
Sorry for the delay in sending this. Here is the PCAP file: https://send.firefox.com/download/6dea8f666f33b826/#e7h8E5SfT0qLPix8k69cZw . I couldn't upload it directly to Github because it isn't among the accepted file formats. Note that Firefox will delete this file in 7 days.

In this capture, you'll see communication between a client and a server, and a server and a postegres database running lo

[2020-01-04 18:39] faern commented on #213
With the submitted PR, #217, The output of printing the error chain is now reduced to:
[code]
The remaining problems exist in layers outside of `tonic`. I will have to do something similar to `hyper` later.

[2020-01-04 19:11] LucioFranco commented on #216
@ChristopherRabotin nothing specifically sticks out to me here, is there any way you can create a minimal reproduction so I can inspect it locally, this seems pretty odd.

[2020-01-04 19:24] #213 closed

[2020-01-04 20:39] ChristopherRabotin commented on #216
@LucioFranco here is the code for both projects, the server and the client: https://send.firefox.com/download/812099346257d97e/#F73gjgZLstmHBRlaSM-weQ . I've added a short readme in there as a quick start. Let me know if I can help you get started on that.

And thanks very much for the help!

[2020-01-06 20:01] adityapk00 commented on #214
Thanks for your reply! I'll make a small, re-producible example and update this thread.

[2020-01-06 23:26] YoEight commented on #212
Happy new year @LucioFranco !
I'd be glad to use your approach, however, excuse my lack of SSL skills but wouldn't be doing that conflict with the handshake done by `rustls`?

[2020-01-07 16:33] michael-a-cliqz opened #219 "Enable reuse_port(true) in easy way"
## Feature Request

### Crates

```tonic```

### Motivation

We are trying to build multithreaded server, where each thread is supposed to run following code snippet:
[code]
But as long as all our threads share same address, it doesn't work.
Now this could be done by using ```net2::TcpBuilder::reuse_port(true)``` and then passing produced listener to ```Server::builder()::serve_with_incoming()```,

[2020-01-07 19:48] adityapk00 commented on #214
So it looks like I was wrong. The problem is not in tonic, but with the NGINX reverse proxy. For some reason, I get the error when NGINX is reverse proxy-ing the gRPC service. If I connect directly to the gRPC server, everything works fine.

I'm not 100% sure what the underlying problem is, but I've just decided to get rid of NGINX, so ... problem solved, I guess :)

[2020-01-07 19:48] #214 closed

[2020-01-07 21:52] LucioFranco commented on #219
I don't think this is a supported feature in hyper currently, so I think if we want this to be added to `tonic::transport` then I think that would be the right path to go down. Aka we should probably open an issue in hyper about this.

May I ask what is tedious about using the method that is in the `uds` example?

[2020-01-07 21:54] LucioFranco commented on #212
@YoEight if you don't configure tls with the builders then there will be no tls done. This allows a user to pass in what ever IO type they need. If they want the crate to do tls you can then apply it on top but its not required nor default.

I have seen a couple users have issues with `rustls` I am considering writing a `tower-openssl` crate that will implement the correct types for `MakeConnectio

[2020-01-07 22:18] alce commented on #216
@ChristopherRabotin `TrajState` id is probably overloading Rust's `std::u32::MAX`

[2020-01-07 22:21] ChristopherRabotin commented on #216
The database is started fresh every time, and other tables also use psql's `serial` type. Do you still think that could be an issue?

How would I go about avoid that problem then? I'm happy to try that out.

[2020-01-07 22:25] alce commented on #216
try this:

[code]

The first TrajState yielded will succeed, the second will raise in the client and panic in the server

[2020-01-07 22:31] alce commented on #216
What happens is that proto's `uint32` is a python `int`, which in Python 3 is unbounded and an `u32` in Rust.

 Also, even if the state id does not overload u32, this cast `let req_traj_id = traj_state.id as i32` can still fail.

It is usually not a good idea to use unsigned integer types. JavaScript and maybe others cannot handle them very  well and as you can see, they can overflow.

[2020-01-07 22:35] alce commented on #216
Sorry, the second yielded `TrajState` I reference above will not panic, it will return the error you are seeing:

[code]

[2020-01-08 01:21] alce commented on #193
I don't think this is a bug. Compilation fails because the `transport` feature is disabled as well. If you enable `transport` all is good.

```tonic-build = { version = "0.1.0-beta.1", default-features = false, features = ["transport"] }```

[2020-01-08 01:24] #193 closed

[2020-01-08 02:05] alce commented on #205
@messense crate looks good, unfortunately it has some outdated deps that overlap with Tonic's and I don't think it'll be worth the hassle, what do you think?

If you all agree I can try to figure out how to hide it from Windows

[2020-01-08 02:14] messense commented on #205
I think hiding it from Windows is fine.

[2020-01-08 04:50] ChristopherRabotin commented on #216
I changed all `uint32` field definitions to be `int32`. Updated the Rust code, and the regenerated the Python code using the grpc tools. I get the same error.

In the Rust server:
[code]

In Python (demo.py)
[code]

Here is the diff in the Python generated code:
[code]

And that matches the pb file:
[code]

Any other tip as to what could be the problem?

[2020-01-08 05:54] alce commented on #216
_If_ I'm right on on what the issue may be, this change won't help. Could you please re-upload the last sources you posted? They were not available when I tried to download them and I used this incomplete proto definition:

[code]

I'm still positive this is something in your Python code, not in Tonic though, probably around numeric data types.

I've never used Python's grpc implementation so ther

[2020-01-08 07:50] alce commented on #216
I think I know what's going on. I thought Tonic (or Prost, rather) was failing to make sense of a somehow malformed or invalid protocol buffer but that's not the case.

As Lucio points out, the error is being returned  while attempting to read the request's body, not while attempting to decode it. This happens because the python generator crashes when trying to _encode_ a new value while the reque

[2020-01-08 09:36] michael-a-cliqz commented on #219
Fair enough, will do it

If I got it correctly, we need to implement ```AsyncRead```, ```AsyncWrite``` ourselves. Although, what we really want is to customize listener, and not the stream.

[2020-01-08 17:19] alce opened #221 "Proposal to remove default methods on service traits"
### Crates
build

### Motivation
When a service trait is generated, tonic-build generates default  methods that return `Status::unimplemented`. Although this is nice because the server code compiles with an empty trait implementation, we loose the usefulness of the compiler informing us what to do next.

Additionally, the generated methods are not really useful. I don't think many of us would inte

[2020-01-08 20:30] ChristopherRabotin commented on #216
Here is the new code: https://send.firefox.com/download/a7b184b62d30ac57/#3jhnMe-rI0Dw26EsSwNbHw .

So you're saying that the problem might be when the Python client tried to encode and send the next `TrajState` in the stream, is that correct? And if so, any idea how I would go about solving that?

Thanks again for your precious help

[2020-01-08 21:36] alce commented on #216
Yes, that's what I suspect. At least that's what my code above is doing. If, like you said before, your Python client is closely modeled after the gRPC example (which mine is) and since we are seeing the exact the same error, there is a good chance your code has a similar issue.

I would first try to confirm if this is actually an encoding issue on the Python side by encoding/decoding messages wit

[2020-01-08 21:42] LucioFranco commented on #221
I think this is a good idea 👍

[2020-01-08 21:51] LucioFranco commented on #219
So you can use tokio's tcp stream type which implements those traits. I would suggest using the tokio tcplistener, and set the options you want. https://docs.rs/tokio/0.2.8/tokio/net/struct.TcpListener.html#method.incoming this should then create a stream of tcpstreams that should align with the incoming types for tonic.

[2020-01-09 03:07] alce commented on #216
I ran this script inside aether without changing anything else and it successfully pushes 10 trajectory states all the way to the db:

[code]

If you pass `True` as the second argument to `push_states`, a string is inserted where a number is expected. The client will crash, and you can see the exact same error as before on the client and the server.

So, it seems that a bad value is sneaking in wh

[2020-01-09 03:41] ChristopherRabotin commented on #216
Oooh wow, how interesting. Let me check this out right now, I didn't even
consider this possibility!

Christopher Rabotin.

On Wed, Jan 8, 2020, 20:07 Juan Alvarez <notifications@github.com> wrote:

[2020-01-09 05:04] ChristopherRabotin commented on #216
Excellent, many thanks for your help.

The problem I had was indeed in Python, and it was even more stupid than a variable type. Everything was already in floats.

The problem is that the two following sections of code are actually considered different (I don't know why):

Working version:
[code]

Buggy version:
[code]

I expected both to be a generator, but it turns out `my_iterator()` is conside

[2020-01-09 05:04] #216 closed

[2020-01-09 21:29] rib opened #222 "Maybe stream should be broken with None after an error"
Within a Tonic server, handling a request where a client opens a 'keep alive' stream, I got bitten today by only checking for `None` to determine if a client had disappeared and the stream was closed.

I.e. I had a loop like this to read the stream:

[code]

but after closing the client, it ended up being considered an [error within Tonic](https://github.com/hyperium/tonic/blob/a66595bfe3c146daaa4

[2020-01-11 18:57] jpittis opened #225 "Compiling protos creates illigal r#Self raw identifier"
## Bug Report

### Version

[code]

### Platform

[code]

### Description

When compiling with tonic_build, I'm running into the following error:

[code]

Which seems to be complaining about the following line in the generated protobufs:

[code]

I'm gonna do some digging into what this means. I'm also happy to post a reproducible repo if that's preferred, I just wasn't sure if this was a proper b

[2020-01-11 19:05] LucioFranco commented on #225
@jpittis this looks related to the `prost` crate. Looks like you are generating some proto that has the use of the word `Self`?

[2020-01-11 19:14] jpittis commented on #225
Yup! Here's the proto file I'm generating from:

https://github.com/envoyproxy/data-plane-api/blob/master/envoy/api/v2/core/config_source.proto#L164

Looks like the field is called self:

[code]

Any suggestions on how to proceed? Should I cross post this with the `prost` crate?
Gonna look there to see if anyone has had similar issues.

[2020-01-11 19:18] jpittis commented on #225
Here's a relevant `prost` issue: https://github.com/danburkert/prost/issues/179

[2020-01-11 19:22] jpittis commented on #225
Sees like the fix was added with https://github.com/danburkert/prost/commit/f51cbb2d23fe1c044309f8ab14473b0db61c3ffe which is on master.

[2020-01-11 19:24] jpittis commented on #225
Ah I think this is the issue. `prost-build` forces 0.5.0 which does not include the latest `prost` master that includes the fix.

[2020-01-11 19:41] jpittis commented on #225
Given `tonic-build` does not have a dependency on the 0.5.0 prost with the bug ([Cargo.toml](https://github.com/hyperium/tonic/blob/master/tonic-build/Cargo.toml#L19)), I don't see much point in keeping this issue open.

[2020-01-11 19:41] #225 closed

[2020-01-11 19:46] LucioFranco commented on #222
So I think in this case you probably want to use `TryStreamExt::try_next` but there is also https://docs.rs/tonic/0.1.0-beta.1/tonic/struct.Streaming.html#method.message which returns a Result on the outter. I'm not sure if the behavior should be to end the stream on the first error or not? In theory, you should be checking the error and exiting on your own and if you poll again it should error. B

[2020-01-11 20:33] LucioFranco commented on #123
@rylev thanks for reporting! I've made sure to update the docs and this should come out with `tonic 0.1`.

[2020-01-11 20:44] LucioFranco commented on #167
Removing this from `0.1` release, we should support this but I want to think about it some more, but it doesn't seem to be blocking @bmwill anymore.

[2020-01-11 20:48] #123 closed

[2020-01-11 23:13] rib commented on #222
Ah, neat, yeah `try_next` is a nice option for moving the result to the outside.

Thanks for the pointer about message too and I'll see about using one or the other here.

Yeah, I'm not entirely sure about the ideal way to handle stream termination here, but my gut feeling is that if Tonic knows that a stream has effectively been terminated (even if it's due to some error condition) then it should

[2020-01-12 17:47] alce commented on #205
I guess this was resolved on https://github.com/hyperium/tonic/pull/206.

@LucioFranco  can we close this?

[2020-01-12 18:08] LucioFranco commented on #205
Yes! thank you.

[2020-01-12 18:08] #205 closed

[2020-01-13 11:41] marcelbuesing opened #230 "Update to `prost` 0.6"
## Feature Request
Replace all dependencies of prost, prost-derive and prost-build to the just released version `0.6`.

### Crates
- interop
- tonic-build
- tonic
- (examples/tests)

### Motivation
- As far as I remember I think this was one of the last issues that tonic 0.1.0 is not yet released ?

### Proposal

Replace all git/master of  dependencies with

### Alternatives
- None

[2020-01-13 15:32] LucioFranco commented on #230
Done in #231, thanks!

[2020-01-13 15:32] #230 closed

[2020-01-13 17:19] bmwill commented on #167
Yeah this isn't blocking me currently as I'm handling this by having a light wrapper around a tonic client atm.

[2020-01-13 17:38] LucioFranco commented on #167
@bmwill got a link to that wrapper by chance?

[2020-01-13 17:55] bmwill commented on #167
Yeah sure! Here's one [example](https://github.com/libra/libra/blob/master/mempool/src/proto/mod.rs#L56-L129).

[2020-01-14 00:57] #93 closed

[2020-01-14 01:38] LucioFranco commented on #222
So I am going to remove this from the `0.1` milestone. One, thing to think about here in the future is that we can't just treat all connections as being http2 and based on hyper. Thus we need to respect the traits, the traits don't define that if you error its over so I'm not sure if changing that behavior should be done here or at a more foundational level. I'd like to continue thinking about thi

[2020-01-14 01:39] LucioFranco commented on #215
This should be fixed on master and will be fixed in the upcomming 0.1 release.

[2020-01-14 01:39] #215 closed

[2020-01-14 18:05] omac777 opened #238 "to get windows 10 "cargo build" and "cargo run" after cloning"
Ok so I understand if you try to build on windows 10,
it doesn't succeed because of the uds examples.

I simply commented uds-client and uds-server out of the Cargo.toml, then everything builds.

The other thing is the tls example tls-client and tls-server need a tweak to open the correct file path.
Currently the example points to "tonic-examples/data/" but that doesn't exist after cloning.
It nee

[2020-01-14 18:24] LucioFranco commented on #238
So the UDS example will panic on windows since we do not currently support uds through windows as far as I know. I didn't look too deep but it should be easy to port the example.

Currently the example points to "tonic-examples/data/" but that doesn't exist after cloning.
It needs to be changed to "./examples/data/" to find the .pem/.key files successfully for both the client and the server.

Good

[2020-01-14 18:47] corhere opened #239 "Endpoint.connect() with TLS fails with InvalidDNSNameError"
## Bug Report

### Version

tonic v0.1.0
tonic-build v0.1.0

### Platform

Darwin x86_64

### Crates

webpki v0.21.0

### Description

Creating a channel by calling `connect()` on an `Endpoint` configured with a TLS config fails with the error

        Error(hyper::Error(Connect, InvalidDNSNameError))

unless the `domain_name` option on the `ClientTlsConfig` is set. Contrary to the docs, the `doma

[2020-01-14 18:59] LucioFranco commented on #239
@corhere thanks for writing this up! If I understand correctly you are suggesting that we use `uri.host()` instead of `uri.to_string()`?

[2020-01-14 20:55] corhere commented on #239
@LucioFranco that is correct

[2020-01-15 09:43] hicqu opened #240 "How to establish serveral calls on one client"
## Feature Request

### Motivation
I'm trying to establish more than 1 RPC calls on 1 client:
[code]

In my code rust compiler reports that the client is already borrowed. However calling `block_on` instead is ok, but it's not what I want.

### Alternatives
Previously I had a similar question about `tower-grpc`. Thank for @LucioFranco 's help, I can write such code with `tower-grpc`:
[code]
After

[2020-01-15 11:32] hicqu commented on #240
I found this in `tonic/examples`:
[code]
But seems in this style a request can only be sent out after the last one is responsed. So all of them are handled one by one, which is still not what I want.

[2020-01-15 13:21] nytopop commented on #240
From what I can see, multiplexing is done by [cloning the `Channel`](https://docs.rs/tonic/0.1.0/tonic/transport/struct.Channel.html#multiplexing-requests).  There should also be a `Clone` implementation for generated clients as well. Something like [`futures::stream::Unordered`](https://docs.rs/futures/0.3.1/futures/stream/struct.FuturesUnordered.html) can be used to poll all the request futures

[2020-01-15 14:38] LucioFranco commented on #240
So basically to get multiple in flight requests, you can do this:

[code]

This will spawn a new task for each request, cloning the client will basically be the same as cloning a channel. The generated client will always implement clone if the inner transport does https://github.com/hyperium/tonic/blob/master/tonic-build/src/client.rs#L45.

The difference between `tower-grpc` and `tonic` here is t

[2020-01-15 15:58] LucioFranco commented on #240
It probably makes sense to update this client example with the code above https://github.com/hyperium/tonic/blob/master/examples/src/multiplex/client.rs

[2020-01-15 21:29] frederikbosch opened #241 "Cannot be shared between threads safely"
## Bug Report
I cannot solve the following error. I guess I lack knowledge, but I have no idea where to start solving this one.
[code]

### Version
cargo / rust 1.40.0
tonic 0.1.0.

### Platform
Ubuntu 18.04

### Crates
reqwest = { version = "0.10.0", features = ["json"]}

### Description

What I am trying to is the following.  I have service that receives a gRPC call from client. That service wil

[2020-01-16 02:16] LucioFranco commented on #241
This is a unfortunate consequence of trait objects. Hyper's response future doesn't impl Sync but streams currently require that. I would suggest spawning the future that awaits the hyper request and use a channel to get the reply back. Since the channel will impl Sync.

[2020-01-16 15:33] frederikbosch commented on #241
Thanks, I already had the idea that I had to wrap the operation. I will give it a try and if it does not work, I might come back here and reopen the issue. Thanks for the suggestion, and again for the wonderful library.

[2020-01-16 15:33] #241 closed

[2020-01-16 17:48] michael-a-cliqz commented on #219
Right, thats what I am basically doing. But also what I need to do is to add a new datatype:
[code]
So I am just duplicating code from uds example.
Is there any easier solution?

[2020-01-16 20:17] marcelbuesing opened #242 "Request duration metrics"
## Feature Request

### Crates

tonic

### Motivation

Pre v 0.1 I was able to intercept requests and measure the duration of request processing as shown below. Now `svc` is no longer a parameter in the interceptor and I was wondering if you might have any idea if there is currently a way to measure the duration in a central place.

[code]

### Proposal

Not sure maybe there is someway via Tower f

[2020-01-16 20:28] ctaggart commented on #31
I'd really like a rust wasm client. It looks like Blazor WebAssembly has an implementation now. It is starting to catch on: [Using gRPC-Web with Blazor WebAssembly](https://blog.stevensanderson.com/2020/01/15/2020-01-15-grpc-web-in-blazor-webassembly/)

[2020-01-17 10:25] frederikbosch commented on #241
@LucioFranco Maybe you could include an example in the docs how to solve an issue like this. When I started using a channel, I got into more problems (```type inside `async` block must be known in this context```). Because of the errors originating inside macros - I guess `#[tonic::async_trait]` - I found debugging very hard.

Instead of streaming I will redesign my gRPC proto and use `repeated`.

[2020-01-17 13:08] abdul-rehman0 commented on #241
@frederikbosch this https://github.com/hyperium/tonic/issues/117#issuecomment-552487968 might help since it is quite similar to your case, I think it might also be solved by spawning a task using `tokio::spawn` and `await`ing on the returned `JoinHandle` but I haven't tried it yet.

[2020-01-18 16:43] gila opened #243 "Relax authority strictness for interoperability with other (existing) clients"
## Feature Request

During the implementation of a CSI driver, and working with existing gRPC clients that require a UDS socket, all requests are failed with reason=PROTOCOL_ERROR.

Here is an example when testing the "Identity" service of such a driver:

[code]

From the server-side of things with RUST_LOG set to trace we can see:
[code]

So the problem is pretty clear straight from here. We are

[2020-01-18 19:21] LucioFranco commented on #243
Yeah, I think this issue would be better to be filed in `h2` rather than her. So tonic itself is generic over the transport so you are not forced to use `h2` but the transport layer that is provided (as an optional feature) uses hyper/h2 so I think it would make sense to see if you can apply the change there.

[2020-01-18 19:22] LucioFranco commented on #241
@frederikbosch does this example help at all? https://github.com/hyperium/tonic/blob/master/examples/src/routeguide/server.rs#L51

[2020-01-18 19:25] LucioFranco commented on #242
@marcelbuesing so in 0.1 I decided to move interceptors to be a more general gRPC concept instead of being tied to the actual on the wire impl. That said, this is a great spot for something like tower to play a role. I have an implementation in the `interop` tests that show using a tower service to wrap a specific gRPC service. In this case it intercepts the headers and echos them in a warpped bod

[2020-01-18 19:27] LucioFranco commented on #219
@michael-a-cliqz there is, I forgot to add a impl for `Connected` for `tokoo::net::TcpStream`. I only have it for `hyper::server::conn::AddrStream` :)

I'd accept a PR that does this for `TcpStream` https://github.com/hyperium/tonic/blob/master/tonic/src/transport/server/conn.rs#L24

[2020-01-18 19:59] LucioFranco commented on #239
@corhere I think I got a fix up https://github.com/hyperium/tonic/pull/244 here, would you be able to confirm this works for you? If it does, I can put a release out this week.

[2020-01-18 20:29] gila commented on #243
@LucioFranco Thank you for your swift reply! I also thought that that would be the case, I'll ask there as well thanks again.

[2020-01-20 09:57] hicqu commented on #240
Thanks a lot! it resolves my question totally! And, let me update the example above!

[2020-01-20 09:57] #240 closed

[2020-01-20 15:50] corhere commented on #239
@LucioFranco that fix works for me. Thank you very much for the quick response!

[2020-01-20 16:21] #239 closed

[2020-01-20 16:55] LucioFranco commented on #239
`v0.1.1` is out with this fix.

[2020-01-21 12:16] frederikbosch commented on #241
I used the suggestion by @abdul-rehman0, and that worked. Fantastic. My own not working code used `mpsc::channel` instead of `oneshot::channel`, it looked more the same as line referenced by @LucioFranco.

However, I still have to add `#[recursion_limit = "256"]` according to the compiler. Maybe I refused to do that with the mpsc code, and that was why it not worked, but that I cannot recall. Why

[2020-01-21 15:01] LucioFranco commented on #241
@frederikbosch the recursion limit is usually due to usage of a `select!` but adding that isn't a big deal.

[2020-01-22 13:28] frederikbosch opened #248 "building and running on different os with tls feature"
## Bug Report
I use `rust:buster` as building system in CI because there is no official Rust Ubuntu 18.04 docker image. However, I would like to run the resulting binary on Ubuntu 18.04 (non-docker). When running the binary I get `error while loading shared libraries: libssl.so.1.1: cannot open shared object file: No such file or directory`.

So I thought that turning on the `tls` feature would fi

[2020-01-22 13:33] #248 closed

[2020-01-22 13:33] frederikbosch commented on #248
Sorry, stupid, I should install `libssl-dev` on my Ubuntu machine.

[2020-01-22 14:45] LucioFranco commented on #248
I don't think we require `libssl-dev` maybe there is another library pulling it in somehow? Last I checked rustls doesn't require it?

[2020-01-22 15:46] frederikbosch commented on #248
Hmm, I think you are right. I missed that. I think I also have to activate rustls in Rusoto (Rust S3 lib). Thanks for the suggestion.

[2020-01-22 16:01] frederikbosch commented on #248
Minor question @LucioFranco: why do you (and libraries like Rusoto and reqwest) do not use rustls by default? It seems much easier for the user of those libraries. But since everybody is doing it, there must be a reason for it.

[2020-01-22 16:43] LucioFranco commented on #248
I think by default they will use the default system ssl, which in your case on linux is openssl, while rustls basically works without deps. The reason I chose rustls is for two main reasons 1) native-tls doesn't currently support ALPN negotiation which is important for http2 2) again native-tls is missing many features needed for things like mTLS. I then chose to support rustls over openssl becaus

[2020-01-22 16:44] frederikbosch commented on #248
Thanks, I get it!

[2020-01-22 21:56] tkaitchuck opened #249 "Tonic 0.1.1 produces code which does not compile."
## Bug Report
When building with tonic 0.1.1 many compile errors of the following from appear:
[code]
### Version
0.1.1
Noticeably this does not happen with tonic 0.1.0-beta.1

### Platform
Linux workdesktop 4.15.0-72-generic #81-Ubuntu SMP Tue Nov 26 12:20:02 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

### Crates
An unreleased crate. However the proto that is causing the problem is here:
https://git

[2020-01-23 01:08] alce commented on #249
Hi @tkaitchuck, make sure you have the correct version of prost. For tonic 0.1.1 it should be 0.6. Also, if you just upgraded tonic, also upgrade tonic-build and generate your protos again.

[2020-01-23 20:27] mehcode commented on #165
Has any forward progress been made on this? How involved do you think it would be for someone to jump in and try to implement it? Using Tonic right now for a project and it works great :100:  but if we could support the reflection API that would be a nice bonus.

[2020-01-23 20:31] LucioFranco commented on #165
@mehcode I think this is a pretty hard one to be honest. The big blockers are first even getting reflection support in `prost` then finding a way to do this via codegen. The second problem is that we are going to soon support flatbuffers out of the box and that means we will need to be more generic over our encoding type which will mean we will need to either only support reflection for protobuf o

[2020-01-24 19:05] tkaitchuck commented on #249
This fixed the problem. Feel free to close.
Should prost be a public dependency?

[2020-01-24 19:37] alce commented on #249
Yes. This is because generated structs derive prost::Message, and it needs to be available directly on your project.

[code]

[2020-01-24 19:52] LucioFranco commented on #249
Yup, this is due to prost's macros requiring it at the root level nothing we can really do about this unfortunately.

[2020-01-24 19:52] #249 closed

[2020-01-28 17:25] znewman01 opened #252 "Server post-startup hook"
## Feature Request

### Crates

`tonic`

### Motivation

I want the server to register itself (with e.g. etcd) once the service is serving and healthy.

### Proposal

My gut says: add a method to `Server`.

[code]

I think we'd need to add something similar to the Hyper server too---the logical place to hook it in on the Tonic side is [here](https://github.com/hyperium/tonic/blob/master/tonic/src/

[2020-01-28 18:56] LucioFranco commented on #252
Hi! My gut feeling is to adapt this https://github.com/hyperium/tonic/blob/master/examples/src/uds/server.rs#L43 example to use TCP and this then would allow you to spawn a task to tell etcd once the tcp socket as been bound.

[2020-01-28 19:04] znewman01 commented on #252
Thanks for the quick response (and all your work on Tonic; it's been very fun to work with and well-designed)!

That seems like it'll do the it for me; feel free to close unless you think you should document that trick explicitly somewhere.

[2020-01-28 19:05] LucioFranco commented on #252
Thanks! Let me know if you have any issues!

I think i'll close this and if any one has any questions they can post in here.

[2020-01-28 19:05] #252 closed

[2020-01-29 18:46] RetWolf commented on #238
@LucioFranco I'll take a look at this as well, and see if I can submit a PR with fixes. Let me know if you've already gotten around to this.

[2020-01-29 19:02] LucioFranco commented on #238
@RetWolf I have not gotten to this exact thing yet but tonic should build on windows. Would love PRs that fix any problem :)

[2020-01-30 12:27] amrx101 opened #253 "Add a blocking hello_world server example."
A blocking server example to go along with the client will be helpful.

[2020-01-30 16:14] RetWolf commented on #238
Ah I see the path problem was already fixed, was hoping to get that easy fix 😛. I've looked briefly over the UDS example, I can try to implement the example for UDS on Windows which was released back towards the end of 2017: https://devblogs.microsoft.com/commandline/af_unix-comes-to-windows/

[2020-01-30 16:15] LucioFranco commented on #238
@RetWolf great! The issue with windows uds support is that I don't think its upstreamed into tokio so we'd need to get that first. If that is the case then we should open a tracking issue in both tokio/tonic.

[2020-01-30 19:08] RetWolf commented on #238
I've created https://github.com/tokio-rs/tokio/issues/2201 in Tokio, if you'd like we can close this issue and create a more explicity issue tracking the feature in Tokio.

[2020-01-30 19:37] LucioFranco commented on #238
@RetWolf yes that would be perfect! Thank you! Ill close this issue now.

[2020-01-30 19:37] #238 closed

[2020-01-30 19:48] mattsre opened #254 "Windows UDS Support"
## Feature Request

### Crates
Tonic v0.1

### Motivation
I'd like to be able to use the native UDS feature provided by Windows as of the 2018 Spring Windows 10 release. The existing Tonic/UDS example should be ported to support Windows as well.

### Proposal
Tonic is blocked by Tokio on this issue, the work for this needs to be completed upstream. This ticket tracks the progress of https://github

[2020-01-30 19:49] RetWolf commented on #238
Tracking ticket created here: https://github.com/hyperium/tonic/issues/254

[2020-02-01 00:54] dangerousplay opened #255 "Arbitrary "Context" access for store metadata"
## Feature Request

Very good project, awesome work. It would be nice if we could pass arbitrary metadata (context) for the request context.

### Motivation

I have a use case (Spire the SPIFFE referential implementation use it) where I need to get raw information about the connection such as peer process id (PID) for security reasons.

### Proposal

The interceptor could have more access about th

[2020-02-01 17:48] RetWolf commented on #255
Looking at #177 briefly, its looks like that should cover your use case although I'm also not sure how to necessarily implement what you are proposing either. I'm not sure there is any documentation around the current extensions api, so that could be an action item from this.

[2020-02-01 18:32] dangerousplay commented on #255
That would help a Lot, a simples example. I'm trying to figure out a way of do this, besides golang implementation uses it's own context. I'm open to work on this.

[2020-02-03 11:14] frederikbosch commented on #135
@xd009642 As I have also been busy with the health check service, I will share my experience, thanks for sharing yours.

From your `HealthCheckService` I extracted a `ServiceRegister`, and then I inject this `ServiceRegister` into the `HealthCheckService`. The consumer of the health check service communicates changes with the register.

The register can shared in threads. Now, my experience with `

[2020-02-03 21:24] Nokel81 opened #256 "Channel::from_uri or Channel::from_url"
## Feature Request

### Crates
- tonic

### Motivation
- The Channel parses a uri anyway so it should be able to create a channel from one if you already have it parsed.

### Proposal

- Add 1 (or 2) more constructors
- Drawbacks: more functions

### Alternatives
- Leave it be, this probably isn't in any hot path so re parsing isn't too much of a hit.

[2020-02-03 21:31] Nokel81 commented on #256
Nvm, I found `Channel::builder`

[2020-02-03 21:32] #256 closed

[2020-02-03 21:37] xd009642 commented on #135
@frederikbosch oh nice, I kept meaning to get back to this but there's so many other things I have to do. I'll try out your version and see if it sorts the issues I found with my initial impl :+1:

[2020-02-04 16:18] LucioFranco commented on #135
This seems fine but I don't quite see how an end user would use this? Like how would you know that your service is unavailable? Do you have any code that shows how you may do that?

[2020-02-04 17:35] LucioFranco commented on #255
@dangerousplay hi! Thanks for the kind words. Can you explain more of your use case? What type of transport layer are you using? Is this server side or also client side?

[2020-02-04 18:16] daniel-emotech commented on #135
(so I'm also xd009642, just on my work account).

So the standard usage is if you implement graceful shutdown any pending requests will be finished, new requests rejected and the server close when the last requests are processed or a timeout has elapsed.

With that implementation, if you receive a SIGTERM the signal handler will set all the services to not serving, the services will check the regi

[2020-02-05 00:57] dangerousplay commented on #255
@LucioFranco Hi, sure. Our use case is more specific but this feature will be too good. In a simple way, we are using Tonic with Unix Domain Sockets as a IPC. We get the process id from a raw socket file descriptor, using a syscall on Linux [getsockopt ](http://man7.org/linux/man-pages/man2/setsockopt.2.html) and on NetBSD, OpenBSD, FreeBSD using [getpeereid](https://netbsd.gw.com/cgi-bin/man-cgi?

[2020-02-05 02:20] dangerousplay opened #258 "Support GRPC Keepalive without calls"
## Feature Request

Hello, the GRPC has it's own way of doing keepalive, besides you could use the `SO_KEEPALIVE` flag on the TCP socket. Currently, the GRPC `HTTP 2` keepalive is not implemented. The ping part of the protocol can be found [here](https://github.com/grpc/grpc/blob/master/doc/keepalive.md). [Here](https://github.com/grpc/grpc/blob/master/doc/keepalive.md) is the documentation of the

[2020-02-05 18:07] frederikbosch commented on #135
@LucioFranco The following code is used by the end user.

[code]

[2020-02-05 20:33] LucioFranco commented on #135
Ok, I think this makes sense to make a `tonic-heath` crate, that contains a service implementation for this. It should return a handle that can set certain services to not serving anymore. I'd like to avoid the user having to think about arc<mutex<>>. I'd be happy to vendor this within the tonic repo.

[2020-02-05 20:50] frederikbosch commented on #135
I would love to learn how we can bypass `Arc<Mutex<>>`. I think I lack the skills for this (atm).

[2020-02-05 20:54] LucioFranco commented on #135
@frederikbosch well easily, you can just make that an internal implementation detail :)

or you can use channels.

[2020-02-05 21:29] frederikbosch commented on #135
@LucioFranco I did not use channels because that would require another thread, one for listening health check requests and one for awaiting updates from the channel. With the solution I presented above, you only need a thread for the health check requests. How to `Arc<Mutex<>>` an implementation detail is something I would love learn.

[2020-02-05 21:37] LucioFranco commented on #135
Sure, so I think really what you need to do is just store the arc mutex internally to some struct and expose easy to use async fn to set the correct items.

[2020-02-05 22:03] LucioFranco commented on #258
Looking into this a bit more it looks like h2 doesn't support sending custom data on the keepalive. https://docs.rs/h2/0.2.1/h2/struct.Ping.html

The other problem here will be that hyper doens't support ping either. So I would think for this custom behavior we would want to have a custom transport. But I don't like the idea of maintaining something that is not hyper. It might be worth it to open

[2020-02-06 01:20] cthulhua opened #259 "Support creating multiple modules for services rather than just one"
## Feature Request
Prost will create a module structure from the package specifier in the .protos, from the prost docs:

Tonic could do the same, or consume an option on the top-level proto to figure out the module.

### Crates

tonic-build

### Motivation

Currently, unless you wrap the `include_proto!` invocation with the appropriate nested modules, the modules don't line up with the prost gener

[2020-02-06 08:25] cthulhua commented on #259
Did some reading; this is a prost-build thing, more than anything. It seems the right way to handle this is to either

a) if it's all within the same crate, provide the module structure around the generated services to match the grpc package structure, or

b) use prost_build::Config::extern_path to instead refer to types in other crates and separate services out that way

Closing this, as it's not

[2020-02-06 08:25] #259 closed

[2020-02-06 22:36] cthulhua opened #260 "tonic-build fails when service in/out objects are extern_path'd"
## Bug Report

### Version

tonic 0.1.1

### Platform

Darwin Dannys-Work-MacBook-Pro.local 18.7.0 Darwin Kernel Version 18.7.0: Tue Aug 20 16:57:14 PDT 2019; root:xnu-4903.271.2~2/RELEASE_X86_64 x86_64

### Crates

tonic-build

### Description

The `replace_wellknown` function in tonic-build/src/lib.rs fails when any objects referred to in service method definitions have been replaced (via tonic/

[2020-02-10 07:18] mawenqi commented on #70
so how could I do this in version 0.1.1? thanks

[2020-02-11 01:36] LucioFranco commented on #70
There is now this https://docs.rs/tonic/0.1.1/tonic/struct.Interceptor.html

[2020-02-14 03:15] L1AN0 opened #264 "Allow setting a message max size"
## Feature Request

### Motivation

See https://github.com/tensorflow/serving/issues/1382, if the message size is large, tonic currently does not support changing the max message size.

### Proposal

Expose the API the change allowed message size.

[2020-02-14 19:30] hlb8122 opened #265 "Conditionaly adding services to router"
## Feature Request
### Motivation

I have a server which will enjoy up to 5 different services, each of which should be able to be enable/disabled at boot time. Currently there seems to be no way to do this without 2^5 different branches.

### Proposal

Diesel has a similar problem when conditionally constructing queries, their solution is to provide a [into_boxed()](https://docs.diesel.rs/diesel/

[2020-02-14 21:26] shepmaster opened #266 "Unclear how to combine Tonic-generated code with an existing Hyper server."
Extreme TL;DR: How can I combine Tonic's [hello world](https://github.com/hyperium/tonic/tree/4f343eb980e3c743f4210939e04e0fb73f728d6b/examples/src/helloworld) with Hyper's [hello world](https://github.com/hyperium/hyper/blob/dd02254ae8c6c59432254a546bee6c9e95e16400/examples/hello.rs)?

Slightly longer:

I have an existing Hyper server with some basic endpoints. I'd like to extend this with suppor

[2020-02-16 17:46] LucioFranco commented on #265
So I unfortunately think this is not possible right now due to our https://docs.rs/tonic/0.1.1/tonic/transport/trait.NamedService.html#associatedconstant.NAME trait since it contains a const type. This makes it hard to implement `Either` for services. We also can't do the same for a trait object since the type system relies upon knowing the type to generate the correct path check.

So to implement

[2020-02-16 17:47] LucioFranco commented on #266
https://github.com/hyperium/tonic/pull/267 I just added this example, let me know if that helps :)

[2020-02-16 19:01] shepmaster commented on #266
That is helpful, but I'm still missing a crucial piece on how to **combine** existing Hyper routes with Tonic. For example, I have this dummy route that always responds with "Hello World" (pretend that it only returns for a specific URL). I'd like to use those routes, and if not found, check the Tonic routes (or vice-versa, I suppose).

[code]

[2020-02-16 19:07] LucioFranco commented on #266
Ok so what you want to do is write a wrapper service that contains both a copy of the hello world service and the tonic one. Then you basically implement an `Either` type of `tower::Service` that on each request will dispatch to either inner service depending on lets say the http version.

https://docs.rs/tower/0.3.1/tower/util/enum.Either.html

Tower currently doesn't provide a router due to it b

[2020-02-16 20:07] LucioFranco opened #269 "Expose `Router::into_service`"
We should expose something akin to `warp::service` that allows the `Router` type to turn into a `Service` implementation so that it can be combined with more custom implementations.

[2020-02-17 12:35] nevi-me commented on #221
:( I was busy opening an issue requesting the inverse of this, when I saw this under similar issues. Is it possible to make this optional?

Here's the issue that I was opening, I wasn't aware that earlier versions used to generate the default methods.

___

## Feature Request

When creating an RPC service for a proto file with a lot of endpoints, it becomes tedious to implement all the trait membe

[2020-02-17 13:19] shadowmint opened #270 "Support grpc-web by adding Cross-Origin Resource Sharing"
## Feature Request

### Crates

tonic = "0.1.1"

### Motivation

When calling tonic service from grpc-web clients, the result is invariably:

[code]

This is because the HTTP/2 request being made is preceeded by a pre-flight CORS request to determine if the request should be allowed, for more detail, background, etc. see: https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS

By adding this, toni

[2020-02-17 15:03] alce commented on #221
Hi @nevi-me

The main motivation behind removing default methods was to force implementations to be explicit, even if that means having a bunch of `unimplemented()` methods.

Unlike the `Iterator` trait, Tonic service traits do not have useful natural default implementations. If you implement iterator's `next` method, you can still have a useful and correct `Iterator` implementation. This is not t

[2020-02-17 15:42] LucioFranco commented on #266
I've updated the example to show this type of usage with warp, let me know if that helps! :)

[2020-02-17 15:47] alce commented on #270
Hi @shadowmint

Enabling CORS is not enough for Tonic's transport  to handle grpc-web requests, since the protocol is different. We either need a proxy to translate requests/responses to/from `grpc` and `grpc-web` or a custom transport to handle grpc-web requests.

The latter solution was proposed by Lucio elsewhere and I think it's the best option. I did some work around this a while back but hav

[2020-02-17 16:06] LucioFranco commented on #221
So the big reason we decided to revert the default change was 1) like what @alce said it doesn't fit the same model as `Iterator` 2) You would still need to define all the type aliases for streaming based ones so you really only get part of the way since we do not yet have default associated types 3) the errors are much better when things are not default since the compiler will tell you what endpo

[2020-02-17 16:13] LucioFranco commented on #270
Yeah, grpc-web is a different protocol than what tonic currently implements, so this behavior is expected. Right now, tonic only supports gRPC over http2 and if you want grpc-web support you will most likely need to use some sort of proxy. As @alce we have looked into support a different transport that can handle this but no one has really fully championed the work :)

[2020-02-17 16:27] nevi-me commented on #221
I'm fine with the current behaviour, as I now have more context. We could defer the inconvenience of implementing the methods to IDEs, as when IDE support gets better, this could be a right-click problem.

The thing that made me think of this was actually when I was adding a method to an unrelated Java service.

[2020-02-17 16:59] alce commented on #221
Intellij  can generate trait methods for you now if you place the generated code inside /src.

[2020-02-18 11:56] Ten0 commented on #258
This would currently be a blocker for us for moving from `grpc-rs`.

[2020-02-18 14:54] LucioFranco commented on #258
I am a bit short on time today but the next steps would be to open the corresponding issues in `h2` and `hyper` around custom pings. The problem I see here that will make this really hard is that we have not figured out how to send a keepalive ping via tower-service. Most likely we will have to offload some of this to hyper.

cc @seanmonstar

[2020-02-18 18:53] #260 closed

[2020-02-19 14:33] hlb8122 commented on #265
@LucioFranco I think a macro would be great substitute as long as n isn't too large.

Wondering about another possibility:
Instead of conditionally adding a service X you conditionally switch X out for an "empty service" with the same signature which always returns unavailable (or whatever is appropriate). Does that sound feasible?

[2020-02-19 18:12] seanmonstar commented on #258
Some more details:

- `h2` allows sending of pings, but doesn't allow customizing the payload (is this required?), and only allows a single outstanding (user) ping at a time.

  I've been experimenting using that ping internally in hyper for BDP flow control, so if also used for keep alive, then `h2` may need to grow support for different user ping payloads. Maybe worth an issue to discuss.
- Besi

[2020-02-19 18:32] swilcox3 opened #271 "tonic-build fails in replace_wellknown when .extern_path is specified"
## Bug Report

### Version
tonic = "0.1.1"
tonic-build = "0.1.1"

### Platform
64-bit Windows 10

### Crates
tonic-build

### Description

I've got two crates, one is a library and one is a tonic server.  The library has a .proto that it builds with prost-build which I want to include in the server .proto, so I've specified them with .extern_path.  When I build, I get this error (only relevant par

[2020-02-19 19:58] swilcox3 commented on #271
It seems to be related to using obj_traits.* in the output of the rpc definitions.  If I change the service to look like this it works fine:
[code]
That's better practice anyways, so I'll go ahead and do that going forward, but the first case should either work out of the box or have a more descriptive error message.

[2020-02-19 23:20] LucioFranco commented on #258
I did a little searching this is what I found:

https://github.com/grpc/grpc-go/blob/6b9bf4296edc5fae722a5dff887a954ffc599b12/internal/transport/http2_client.go#L1325

https://github.com/grpc/grpc-java/blob/a408d086bd12ea9049424de3ce325cc65420c231/netty/src/main/java/io/grpc/netty/NettyServerHandler.java#L103

https://github.com/grpc/grpc-java/blob/a408d086bd12ea9049424de3ce325cc65420c231/netty/sr

[2020-02-19 23:22] LucioFranco commented on #265
I am not sure that will work but I'd be open to a PR for that!

[2020-02-20 07:32] cthulhua commented on #271
This looks to me like #260 which was merged to master in #261
Do you mind seeing if this works against master?

[2020-02-20 08:44] cthulhua commented on #269
Took a look at this; do we kind of want the opposite tack here of `tonic::transport::Server`? ie rather than a 'batteries included' approach, literally just turn a `Router` into a `Service` and let users compose that service however they want?

[2020-02-20 14:30] swilcox3 commented on #271
Yep, that looks like the same issue.  Thanks!

[2020-02-20 14:30] #271 closed

[2020-02-20 15:25] LucioFranco commented on #269
@cthulhua well I think one goal of the transport was to remove the need to worry about services unless you really need to. So I think providing this into_service would allow users that want to do more advanced things with tower use the router infrastructure.

[2020-02-20 18:58] cthulhua commented on #269
Ok; I took a crack at this...literally just a RouterService with
[code]

I'll add some tests and open a PR; is there anything more we want here?

[2020-02-21 18:00] cthulhua commented on #269
started draft pr:
#272

[2020-02-21 19:12] LucioFranco commented on #258
Also looks like we may need to echo _exactly_ what is pinged to us in the ping frame.

Reference: https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md#ping-frame

[2020-02-21 19:19] seanmonstar commented on #258
`h2` already automatically responds to `PING` frames received over the wire.

[2020-02-23 12:05] zhuxiujia opened #273 "can i Custom load balancing type? just like ，random，hash，Round... and more?"
## Feature Request
can i Custom load balancing type? just like ，random，hash，Round... and more?

[2020-02-23 15:41] john-hern commented on #31
I've been looking at this problem for a couple of weeks while reading tonic/tower's code. I have started an implementation on the server side part of this. I was hoping to get a little feedback about the approach.

What I've done is create another svc, called ProxySvc. In the MakeSvc handler, I just check for the proxy config, which will passed through the server, and it if exists, I wrap the Svc

[2020-02-24 07:24] johanbrandhorst commented on #31
Great work @john-hern! Would you be interested in adding your Rust proxy implementation to the https://github.com/johanbrandhorst/grpc-web-compatibility-test repo? It tests the existing proxies with the known existing clients.

[2020-02-24 13:14] john-hern commented on #31
Hey @johanbrandhorst, I dont have a pure proxy implementation. Currently, I inject right into Tonic's pipeline. This means, I'd have to pull in Tonic as a sub-module into your project, either from my fork, or carry a patch around while I dev. Either feel painful while I try to dev (Unless you have a better approach?). I considered a pure proxy option, but I wanted to avoid having multiple ports op

[2020-02-24 13:38] johanbrandhorst commented on #31
A pure proxy shouldn't be necessary, but you mean you can't simply depend on Tonic as a crate? Alternatively it would be cool just to add the tests to the docker-compose setup, the only requirement for that is a docker image with the proxy installed.

[2020-02-24 13:55] john-hern commented on #31
Correct, I actually had to modify a part of Tonic's code to hook the req/resp pipeline to expose the "proxy" code high enough in the stack. It may be that this isn't exactly required, but it was the best approach I could find in my time digging.

I'd be happy to integrate my stuff for testing, using the repo you've created once it's a bit more complete. I'd like to make sure it has proper abstract

[2020-02-24 16:25] LucioFranco commented on #31
@john-hern that seems like a reasonable approach, but I am not fully following it. I would suggest you open a PR and I can take a peek :)

Overall, I'm not 100% convinced if tonic wants to bundle this or if we want to separate the grpc-web components, but I think this is a good step in the right direction.

[2020-02-24 21:15] crides opened #274 "how to get packet size statistics"
Hi, I'm using tonic for the programming assignments for one of my classes for message passing between nodes, and the professor wants us to provide statistics (specifically the delay and bandwidth usage) for whatever underlying protocol we're using. I can get the packet delay simply by logging from the nodes, but so far I can't find any method to get the packet sizes. I know tonic probably doesn't

[2020-02-25 01:07] LucioFranco commented on #273
@zhuxiujia in this case, I would probably suggest looking at `tower-balance` and seeing if that fits your use case. This may be something you want to write manually and I don't think is in the current scope of tonic.

[2020-02-25 01:09] LucioFranco commented on #274
@crides tonic is built ontop of hyper which internally uses tcp to handle the connections. TCP isn't a packet/datagram based protocol. So I am not entirely sure you could capture that information. As for request latency this should be possible by implementing a custom service layer in-between hyper and tonic via tower-service that can measure from beginning to end.

[2020-02-25 01:46] crides commented on #274
Sorry, I should've clarified a little bit. Since we're expected to use TCP based protocols, can I get the amount of data sent on TCP?

[2020-02-27 16:58] LucioFranco commented on #274
I would say this is not super trivial but one way would be to wrap the TcpStream's AsyncRead/Write impls to see how many bytes were written

[2020-02-29 04:30] ericmcbride opened #276 "Server Side Batching"
Im familiar with GRPC Interceptors and have looked at Tower Layers, but im wondering what would be the best way to do server side batching on incoming requests?  Ive been reading through the source code, and the examples (which are awesome) but I was wondering if theres any way I could get a handle to incoming requests and make a buffer/vector with them the submit them to a corresponding GRPC endp

[2020-02-29 08:28] govardhangdg commented on #253
Hello! I'd like to take a shot at this issue.
I believe the new example can be placed in the file https://github.com/hyperium/tonic/blob/master/examples/helloworld-tutorial.md. I intend to use `futures::executor::block_on`  as executor, so as to make it blocking in nature.
Thanks.

[2020-03-01 17:46] LucioFranco commented on #276
@ericmcbride could you explain more what you mean by buffer the incoming requests? In theory you can always place a tower layer in-between hyper and tonic (the transport stuff is optional). Though with h2 being a multiplexed and streaming protocol this doesn't seem like there is terribly much advantage.

[2020-03-01 17:48] LucioFranco commented on #253
@govardhangdg sounds good, you will still need to use the tokio runtime. So for that I would use https://docs.rs/tokio/0.2.13/tokio/runtime/struct.Runtime.html#method.block_on

[2020-03-01 17:54] ericmcbride commented on #276
So I have a use case (using a lib for GPU processing for Machine Learning) where I need to collect incoming requests into a vector then post to a grpc endpoint, if a certain flag is passed.  I saw inside of interop where you can wrap a service in another service, so I was thinking maybe collecting the requests there, and posting to that endpoint.  That endpoint would have a call to a function, tha

[2020-03-01 17:56] LucioFranco commented on #276
@ericmcbride that totally makes sense! What is the type of the inbound requests is it a simple unary grpc request that you then want to batch into another endpoints grpc unary request to send it as a vec.

many inbound -> single outbound?

[2020-03-01 18:20] ericmcbride commented on #276
its a simple unary request.

So itd be like fan in (to make a vector of whatever I need), make the request(GPU Batch Call) and send a response back.  In the future itd be cool at the end to fan back out to the respected singular requests.  I don't have enough insight just yet on hyper / tower / tonic, but im having alot of fun digging through.

[2020-03-01 18:23] LucioFranco commented on #276
@ericmcbride I would probably not try to use tower to do this but I would most likely just take advantage of async/await. So you could for example use a mpsc channel to fan-in requests to a background task. The background task collections requests off of the channel and can then batch them and send them on the outbound rpc. The real key here is when you send the original request on the mpsc channe

[2020-03-01 18:27] ericmcbride commented on #276
Cool thanks for the link!  I was having issues trying to grab the inbound requests (i was trying to use tower::service_fn and tx.send within the closure).  how would you suggest grabbing the inbound request in context of the server running.  After i figure that out, you have done more then enough! Thanks again!

[2020-03-01 18:29] LucioFranco commented on #276
Is there a reason you want to grab the inbound request directly in the transport instead of using the tonic codgen? To me nothing in this tells me that you should use tower directly (unless if that is your goal that is totally fine!). I think it makes more sense to avoid tower and write it directly with async/await.

[2020-03-01 18:30] ericmcbride commented on #276
Nah i just dont have any direction TBH at this point, i thought the only way you could grab an inbound request was via transport.

[2020-03-01 18:31] LucioFranco commented on #276
You can! though basically all that tonic does is map raw http requests to grpc ones and then you are within a future that allows you to async respond. Which is what tower etc would give you as well but its much more lower level and is really designed for super generic things like retries and timeouts. Otherwise, it makes sense to write this logic directly in the handler that tonic generates.

[2020-03-01 18:35] ericmcbride commented on #276
AHHHHH! Lol this is initially where i started at and have went full circle! I was like should I just batch them in the actual handler, then something about that felt weird, should've went with my gut instinct.  Im gonna close out this issue.  Thanks a ton for your gudiance!

[2020-03-01 18:35] #276 closed

[2020-03-01 18:44] LucioFranco commented on #276
No problem! Good luck :)

[2020-03-02 06:56] georgewfraser opened #278 "hello_world example is broken"
I have followed the instructions in https://github.com/hyperium/tonic/blob/master/examples/helloworld-tutorial.md and I am getting this error:

[code]

It seems that the `::prost::` module was added in https://github.com/hyperium/tonic/commit/f65cda1ea0a190fe07c4f8d91473baad9a6f1f77#diff-48db3de1bfd45bd25a64288f1c54d48c

but the tutorial still refers to v0.1.0.

[2020-03-02 16:27] Sherlock-Holo opened #279 "Channel connect with tls with IP address will failed with InvalidDNSNameError"
## Bug Report

### Version 0.1.1

### Platform

Linux SherlockHolo 5.5.7-arch1-1 #1 SMP PREEMPT Sat, 29 Feb 2020 19:06:02 +0000 x86_64 GNU/Linux

### Description

my dependencies is
[code]

I try
[code]

and use `nc -l 127.0.0.1 9876` to listen, it should connect success and nc will print something aboult tls handshake, but it failed with `thread 'main' panicked at 'called `Result::unwrap()` on an

[2020-03-02 22:15] john-hern commented on #31
Hey @LucioFranco, I sent you a draft PR for the approach mentioned above. Additionally, I tried a different approach Saturday morning (Committed to this repo: https://github.com/john-hern/tonic_grpc_web). I did integrate Tower's CORs services (After some modifications to port the futures to 0.3) in that repo, that'll i'll carry into either approach (Thanks for that code!). I'll play with it some m

[2020-03-03 12:25] mzabaluev opened #281 "Generation of server code independent of tonic transport"
## Feature Request

### Crates

tonic-build

### Motivation

In version 0.1.1, disabling feature `transport` in both tonic and tonic-build results in generated server code that does not compile due to an unconditional dependency on `tonic::codegen::HyperBody`.
Such coupling is not present in the client code, where it is possible to use the generic client with other `Service` impls, not necessarily

[2020-03-03 20:46] LucioFranco commented on #31
@john-hern I was originally thinking that the grpc-web stuff should live as its own transport for the time being until we figure out how we want to integrate it. In theory you should be able to write a simple make service and return the generated service and pass that to hyper? That should allow you to do the same stuff without having to modify the current tonic transport.

[2020-03-05 00:57] davidraleigh commented on #278
I found the same problem with the routeguide tutorial:
https://github.com/hyperium/tonic/blob/f65cda1ea0a190fe07c4f8d91473baad9a6f1f77/examples/routeguide-tutorial.md

[2020-03-05 03:58] ericmcbride opened #282 "Compression Support"
## Feature Request
Add compression to Tonic
### Crates
https://github.com/BurntSushi/rust-snappy
### Motivation
We use gzip (default) in our Go GRPC services.  Would like to normalize this across all services.  There are other compression options such as snappy.  I noticed burntsushi has a nice snappy implementation in rust.

### Proposal
Add some level of compression for larger payloads.

Id be m

[2020-03-05 16:24] xd009642 opened #283 "tonic-build can fail to work if there are artefacts from other build processes"
I have a build script that generates a folder with some resources in the outdir and tonic build tries to run rustfmt on the folder and fails. I've gotten around it by deleting the folder and regenerating the assets after tonic-build is done for every build but I don't think tonic-build should touch anything not generated by it/prost

https://github.com/hyperium/tonic/blob/master/tonic-build/src/li

[2020-03-05 20:21] #283 closed

[2020-03-06 01:55] eminence commented on #278
Since this change isn't published yet on crates.io, I think the best thing to do is go back to the old version which matches the version published on crates.io:  https://github.com/hyperium/tonic/blob/v0.1.1/examples/helloworld-tutorial.md

[2020-03-06 15:48] LucioFranco commented on #279
This is a limitation with rustls https://github.com/ctz/hyper-rustls/issues/84

If this is a problem then I suggest switching to openssl via using hyper manually.

[2020-03-06 15:48] #279 closed

[2020-03-06 15:53] LucioFranco commented on #281
@mzabaluev yup you are right, master just got some breaking changes, so this will be fixed in `0.2` which should be coming out _soonish_.

[2020-03-06 15:56] LucioFranco commented on #282
@ericmcbride yeah, compression is something we should 100% add. I am curious what type of compression you are using with grpc-go? Is it at the connection level or is it per message?

I'd love to support this though I am not 100% sure on how to do this yet, so happy to chat about it! Feel free to ping me on discord as well and we can chat if this is something you are interested in contributing :)

[2020-03-06 16:02] LucioFranco commented on #278
I am not sure if its best to go back to an old version on master since in reality the code/guides on master should reflect the same thing?

[2020-03-06 16:10] ericmcbride commented on #282
Yeah we just use gzip and enable it as an option. I haven't really went deep into the rabbit hole.  At first glance
[code]
Makes me thing its per message but this is a quick assumption.  Ill dive deeper into the code this weekend and look and id be more then happy to jump on!

[2020-03-06 16:14] eminence commented on #278
I mean that us (developers trying to learn tonic) should be reading a guide that is in-sync with the latest code published on crates.io.   We shouldn't be reading a guide for an unreleased version of tonic.

[2020-03-06 16:20] LucioFranco commented on #278
@eminence fair, more so I'd like to get the 0.2 out soon anyways. Though I get your point lets change them back :)

[2020-03-06 16:26] eminence commented on #278
To be extra clear:  I'm *not* proposing that anything change in the master branch!   I'm was just trying to give an alternative tutorial URL  to the people in their thread.

[2020-03-06 16:29] LucioFranco commented on #278
@eminence yeah, mostly I am not sure what the path to 0.2 looks like just yet so in that case I want new users to have a good experience learning 0.1.

[2020-03-06 16:30] #253 closed

[2020-03-06 16:30] LucioFranco commented on #278
Ok, closed via #277

[2020-03-06 16:30] #278 closed

[2020-03-06 16:42] scottlamb opened #285 "concurrent use of client"
## Feature Request

### Crates

both tonic & tonic-build

### Motivation

I want to issue a bunch of concurrent API calls over the same channel. It looks like tonic doesn't support this today given that all the client methods take`&mut self`. The official gRPC implementations (C++, Java, Go) all support this. It's common to have heavy concurrency over the same channel. This seems much more practic

[2020-03-06 17:40] LucioFranco commented on #285
@scottlamb Hey! So the reason generated clients take a `&mut self` has nothing really to do with not being able to support concurrent requests on the same "channel" but in fact its to follow the tower model.

So at the core tonic's client is abstracted around [`GrpcService`](https://docs.rs/tonic/0.1.1/tonic/client/trait.GrpcService.html) which is a type alias for `tower::Service` that provides ex

[2020-03-06 18:15] Sherlock-Holo commented on #279
so if I want to do this maybe I can replace channel with my implement？or perhaps just use my connector？

[2020-03-06 18:43] LucioFranco commented on #279
@Sherlock-Holo correct I would try to use https://docs.rs/hyper-openssl/0.8.0/hyper_openssl/ with https://github.com/hyperium/tonic/tree/master/examples/src/hyper_warp example which shows how to use hyper directly :) Feel free to join the discord if you have any questions.

[2020-03-06 18:43] LucioFranco commented on #273
Closing this issue as it does not directly relate to tonic.

[2020-03-06 18:43] #273 closed

[2020-03-07 07:42] wu-sheng opened #286 "tonic_build::compile_protos fail in complex proto folder structure"
## Bug Report

### Version
0.1.0

### Platform
MacOS 10.15.3 (19D76)

### Description
I am using tonic to build [Apache SkyWalking](http://skywalking.apache.org) rust client, https://github.com/apache/skywalking-rust
Due to that, I need to follow the official proto definition at here https://github.com/apache/skywalking-data-collect-protocol.

And I write `build.rs` like this, but seems the Regist

[2020-03-08 16:35] LucioFranco commented on #286
This is a prost bug more than it is a tonic bug, I would suggest opening an issue in the prost repo :)

[2020-03-08 16:35] #286 closed

[2020-03-09 16:51] xd009642 opened #289 "warp example could be better"
The dispatching between warp and tonic could be improved by using the `content-type` header and looking for `application/grpc` for the requests to tonic. I'm not sure if it should replace the check or be combined with it in some way but it seems more correct to use the headers available instead of the http version.

[code]

[2020-03-09 18:08] LucioFranco commented on #289
@xd009642 sure, happy to take PRs for how you might want to see this improved. I do though like showing off how hyper can detect the versions and route things.

[2020-03-09 18:08] LucioFranco commented on #289
@xd009642 sure, happy to take PRs for how you might want to see this improved. I do though like showing off how hyper can detect the versions and route things.

[2020-03-09 18:09] xd009642 commented on #289
So I'm working out this myself for some of my code, if I come up with a way that seems elegant I'll submit a PR :+1:

[2020-03-10 06:43] abel-von commented on #211
Hi, I also did some benchmark test, to compare the performance of tonic and grpc-go, the service code is very easy, just return an empty struct
[code]

go codes:
[code]

the client send requests in 500 goroutines
[code]

When sending the tonic server, it costs about 8-9 seconds to finish, while sending to go server, only 4-5 seconds, I thought it is because of the setting of tokio runtime, so I ad

[2020-03-11 04:54] scottlamb commented on #285
Thanks for the explanation!

Yeah, I think there should at least be some documentation saying that clone is supposed to be cheap for the stock transport. I don't think I'm going to be the only one surprised, given that other language's gRPC implementations just have one client object you can share between threads. Maybe some/all of:

   * an example/benchmark that clones a client for concurrency;

[2020-03-11 11:47] selmeci opened #290 "TLS Indentity in PKCS #12 format"
## Feature Request

### Crates

tonic

### Motivation

A PKCS 12 file may be encrypted and signed, which add extra security.

### Proposal

It could be similar to implementation in the reqwest [crate](https://docs.rs/reqwest/0.10.4/reqwest/) which provides a convenient, higher-level HTTP Client with [Identity](
https://docs.rs/reqwest/0.10.4/reqwest/struct.Identity.html) which support pkcs12 forma

[2020-03-11 13:46] ddibiase opened #291 "Issue with tonic + prost (similar to example)"
### Version

tonic 0.1.1
prost 0.6
cargo 1.40.0
rust 1.41.1

Not possible to run cargo-tree (due to below reported error). Snippet of Cargo.toml below.

### Platform

Darwin me.local 19.3.0 Darwin Kernel Version 19.3.0: Thu Jan  9 20:58:23 PST 2020; root:xnu-6153.81.5~1/RELEASE_X86_64 x86_64

### Description

I have the following toml:

[code]

Here's my build.rs:

[code]
Here are the errors I'm s

[2020-03-11 21:37] LucioFranco opened #292 "Add ability to set `Status` details"
Reference issue https://github.com/tower-rs/tower-grpc/issues/136

[2020-03-11 22:03] fluxxu commented on #292
Looks like there is a PR for this in the old repo by @GeorgeHahn:
https://github.com/tower-rs/tower-grpc/pull/191
I can help to transfer it to this repository if needed

[2020-03-11 22:11] GeorgeHahn commented on #292
That PR was the bare minimum to get messages into the `Status` details; it could use some API love. This would be great to have though!

[2020-03-11 22:37] omac777 opened #293 "outside standalone app build error unresolved import tonic::transport::ServerTlsConfig"
## Bug Report

### Description

Compiling examples within the originally cloned tonic/examples is simple.
When creating a new project based off tonic, but outside of the cloned tonic project I am running into issues with the build.  The new project is simply the echo proto with just the echo server part.
I plan on having another separate echo client doing the same outside of the cloned tonic proje

[2020-03-12 01:02] omac777 commented on #293
I resolved it with the following Cargo.toml that points to the outside tonic directory, yet retaining the same dependencies and build-dependencies as the original examples/Cargo.toml.

[code]

[2020-03-13 12:26] Sherlock-Holo commented on #282
I think if compression is in connection-level, need to check peer support compression or not, but it makes developers can focus on the real job, instead of 'how to set the framework correctly'.

And if we could choose which rpc call enable compression, which one disable, it's very good, because when we just send some little bytes, compress them doesn't reduce time, sometimes even make data bigger.

[2020-03-13 15:57] LucioFranco commented on #282
I assume we will want to change our generated clients to be more like a builder api that can allow users to set compression per service.

[2020-03-13 19:29] ddibiase commented on #291
I've attempted checking out the master branch and building the examples, getting the following error:
[code]

[2020-03-14 15:37] hntd187 opened #295 "Build warnings in proto defs"
## Bug Report

### Version
0.1.1

### Platform
All (happens on windows, osx and linux)

### Description

I get build warnings like the following
[code]

My proto def can be found here.
https://github.com/toshi-search/Toshi/blob/master/toshi-proto/proto/cluster.proto

[2020-03-16 00:53] Perlmint commented on #291
Introducing new features `data-prost` of tonic and `prost` of tonic-build is not applied to the current release(0.1.1). IMO, You should check examples from https://github.com/hyperium/tonic/tree/v0.1.1.

[2020-03-16 17:05] ddibiase commented on #291
@Perlmint did you make a mistake in referencing the version numbers? Both are referencing 0.1.1. Sorry I'm also slightly confused by the phrasing of your response. Mind clarifying?

[2020-03-16 18:03] Sherlock-Holo commented on #152
I try to replace tonic `Channel` with my custom client, it built with `async-std`, however when I run, it still panic because the whole program still need tokio runtime. I dig codes and find maybe `h2` crate depends on tokio and we can't replace `h2` in tonic like replacing `Channel`

[2020-03-16 18:05] LucioFranco commented on #152
`h2` only needs tokio because it uses tokio's io types and sync types. Otherwise, it should work on any other executor if you compat the traits correctly.

[2020-03-16 18:48] seanmonstar commented on #258
Relevant PR in hyper providing generic HTTP2 keep-alive support: https://github.com/hyperium/hyper/pull/2151

[2020-03-17 01:04] Perlmint commented on #291
@ddibiase No, both versions I referenced are same. I think that there is some misunderstanding. I'll try to clarify my previous response.

There are breaking changes - introducing `data-prost`, `prost` features you used - in master. And these changes are not included in v0.1.1.
So, If you want to use tonic v0.1.1 - latest release on crates.io, you should look up [examples from 0.1.1 tag](https://g

[2020-03-17 13:50] ddibiase commented on #291
So I checked out that very branch and ran cargo build in the examples folder. Got the following log errors. I'm on Latest OS X.

[code]

[2020-03-17 14:10] ddibiase commented on #291
I managed to get going with the example which depends on tonic 0.1, prost 0.6 and tonic-build 0.1. Seems like 0.1.1 has the breaking changes or something. :-/

[2020-03-17 14:10] #291 closed

[2020-03-18 21:22] LucioFranco commented on #290
Unfortunately, it looks like that is only supported under `native-tls` and tonic only uses `rustls`. I would suggest possibly using something like the openssl crate to convert cert types as I don't think rustls supports this and I do not want to bring openssl in tree.

[2020-03-18 22:15] LucioFranco commented on #293
Most likely need to add those extra features to the examples tonic entry. I assume because the feature is enabled in interop we didn't need to add it to the examples cargo.toml. In a workspace rust will union all features. I'd happily take a PR to fix this :)

[2020-03-18 22:17] LucioFranco commented on #291
@ddibiase `data-prost` feature hasn't been released and is only active on master.

[2020-03-19 15:02] ddibiase commented on #291
Thanks @LucioFranco I ended up figuring out what I did wrong and closed out the issue. You are correct it wasn't clear that data-prost wasn't fully supported. I'm now up and running with Tonic and its working beautifully. Thanks for your effort on this project. Also when you release the recent changes, would be extremely helpful if there was an in-depth migration or explanation of changes. I'll li

[2020-03-19 16:52] jen20 commented on #295
Hi @hntd187! Thanks for opening a bug report. This reproduces easily using the latest release of `tonic` and `tonic-build`. The issue is caused by `service_ident` in the various generated files being derived from the gRPC method identifier, for example:

https://github.com/hyperium/tonic/blob/f65cda1ea0a190fe07c4f8d91473baad9a6f1f77/tonic-build/src/server.rs#L257

There seem to be two approaches t

[2020-03-19 17:00] LucioFranco commented on #295
@jen20 the `allow` solution should be fine :+1: its quick and easy.

[2020-03-19 17:00] LucioFranco commented on #295
Also to note, this change will go out with 0.2 which is slightly on hold for the moment, so when this gets fixed on master I'd suggest users to work off of master for a bit.

[2020-03-19 19:18] #295 closed

[2020-03-20 09:20] nikclayton-dfinity opened #298 "Missing #[derive(Debug)] in generated code"
## Bug Report

### Version

0.1.1 (both tonic and tonic-build)

### Platform

Darwin Niks-MBP 19.3.0 Darwin Kernel Version 19.3.0: Thu Jan  9 20:58:23 PST 2020; root:xnu-6153.81.5~1/RELEASE_X86_64 x86_64 i386 MacBookPro15,1 Darwin

### Description

I'm experimenting with a server that maintains connections to multiple peers, with peers coming and going. My client type is `GossipClient`.

I'm tryin

[2020-03-20 09:59] nikclayton-dfinity commented on #298
[code]

fixes.

[2020-03-20 23:22] seanmonstar commented on #258
hyper v0.13.4 now includes options to set some HTTP2 keep-alive options. So, next would be taking advantage of them in tonic.

[2020-03-21 01:08] matthauck opened #299 "Add Async Interceptors"
## Feature Request

`Interceptor` trait should support async functions.

### Crates

`tonic`

### Motivation

I would like to write an authentication interceptor which needs to make API calls to validate the incoming request, and it would be great if these could be async.

[2020-03-23 00:06] ddibiase opened #300 "Question: Retrieving method name/URL in interceptor"
I'm wondering if it's possible (or what would be the most appropriate way) to retrieve the method name or URL from the interceptor. The Request struct doesn't seem to contain anything easy. If this isn't currently possible, then perhaps it's appropriate as a feature request.

[2020-03-23 21:19] ddibiase commented on #300
Building on the above question, as I'm digging deeper into Interceptors I'm either noticing some missing information or not understanding it correctly. The Interceptor docs state:

`
If you would like to apply middleware like features to the body of the request, going through the tower abstraction is recommended.
`

I'm assuming this is in reference to the Service abstraction: https://docs.rs/towe

[2020-03-24 14:44] LucioFranco commented on #298
@nikclayton-dfinity this sounds like a great idea! Would totally accept a PR :) We prob want to add this to all external facing structs that codegen produces.

[2020-03-24 14:45] LucioFranco commented on #299
@matthauck do these API calls need to happen on _each_ request or is this a case of refreshing a token? The reason I ask is because intentionally inteceptors were designed to not be async to make them simpler. We still provide the ability to use tower layers to intercept the whole HTTP2 request.